/* -------------------- Site-Wide Styles -------------------- */
:root {
  
  --primary-bg-color: #ffffff;
  --secondary-bg-color: #f1f1f1;
  --text-color: #000000;
  --accent-color: #607d8b;
  --accent-text-color: #ffffff;
  --card-bg-color: #f1f1f1;
  --card-text-color: #000000;
  --shadow-color: #00000033;
 
}

/* 
  --primary-bg-color: #0f1927;
  --secondary-bg-color: #1e3554;
  --accent-color: #356293;
  --accent-text-color: white;
  --card-bg-color: #1e3554;
  --card-text-color: white;
  --text-color: rgb(255, 255, 255);
  --shadow-color: rgba(0, 0, 0, 0.2);
*/

html {
  background-color: var(--primary-bg-color); /* to fix bg colour issues for some browsers/extensions */
  color: var(--text-color);
  height: 100%;
  scrollbar-color: var(--secondary-bg-color) var(--primary-bg-color)
}
body {
  max-width: 1920px; /* limit width for ultra wide screens */
  margin: 0 auto; /* centre */
}


/* ----- all text ----- */
body,h1,h2,h3,h4,h5,h6,p {
  font-family: Righteous, sans-serif;
  /* font-family: Montserrat; */
  /* font-family: Poppins; font-weight: 700; */
}

/* all link text */
a {
  text-decoration: none;
}


/* ----- All Buttons ----- */
button:not(.btn-ignore-all):not(.card) {
  margin: 0 5px;
  padding: 6px 12px;
  cursor: pointer;
  border: none;
  border-radius: 6px;
  box-shadow: 0 4px 5px var(--shadow-color);
}

button:hover:not(.button-ignore):not(.btn-ignore-all):not(.card) {
  background-color: color-mix(in hsl, var(--accent-color), rgb(255, 255, 255) 30%) !important;
}

button:not(.button-ignore):not(.btn-ignore-all) {
  box-shadow: 1px 1px 3px 0px var(--shadow-color);
  background-color: var(--accent-color);
  color: var(--accent-text-color); 
}


/* ----- Header (part above navbar) ----- */
.header-inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 100vw; 
  margin: 0 auto;
  padding: 0 10vw;
  position: relative;
}

@media (min-width: 1920px) {
  .header-inner {
    padding: 0 192px;
  }
}

.logo {
  cursor: pointer;
}

/* ensure that navbar spans full width */
.navbar {
  position: relative;
  width: 100vw; /* full width */
  height: 50px;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
  background-color: var(--accent-color) !important;
  color: var(--accent-text-color);
}

.nav-content a:hover {
  background-color: color-mix(in hsl, var(--accent-color), rgb(255, 255, 255) 30%) !important;
  color: var(--accent-text-color) !important;
}

/* stop navbar content from stretching too far */
.nav-content {
  max-width: 1920px;
  margin: 0 auto;
}

/* navbar items */
.w3-bar-item {
  display: flex !important;
  align-items: center;
  justify-content: center;
  width: 25% !important;
  height: 50px;
}

/* parent container for auth links */
.header-auth {
  text-decoration: none;
}

/* profile button */
.profile-btn {
  padding: 13px 19px !important;
  padding-right: 24px !important;
  display: flex;
  align-items: center;
  gap: 10px;
  border-radius: 25px !important;
  text-decoration: none;
}
/* sign in button */
.signin-btn {
  padding: 18px 28px !important;
  border-radius: 25px !important;
  text-decoration: none;
}

/* blue link text */
.blue-text {
  /* color: rgb(14, 103, 161) !important; */
  color: var(--accent-color);
  text-decoration: underline !important;
}

/* card container used in login and card listing */
.w3-card-4 {
  height: 100%;
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  box-sizing: border-box;
  border-radius: 8px;
  word-break: break-word; /* allow long text to wrap */
  overflow: visible;
  white-space: normal;
  max-width: 100%;
  background-color: var(--secondary-bg-color);
  box-shadow: 0 4px 10px 0 var(--shadow-color), 0 4px 20px 0 var(--shadow-color);
}