/* -------------------- Card/Deck Editor -------------------- */

/* ----- editor card ----- */
.card-editor {
  display: grid;
  place-content: center;
  margin: 0 auto;
  background-color: #f1f1f1;
  padding: 20px;
  min-height: 300px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  text-align: center;
  width: calc(100% - 40vw); /* make wider when narrow */
  flex-direction: column;
  cursor: default;
  border: none;
  word-break: break-word; /* allow long text to wrap */
  white-space: normal;
  max-width: 100%;
}

@media (min-width: 1921px) {
  .card-editor {
    padding: 192px;
    width: 1100px;
  }
}

/* make cursor type text for editable parts */
.card-editor h1, h4 {
  cursor: text;
}

/* remove selection on the divider */
.card-editor p {
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}


/* ----- delete confirmation popup ----- */
.confirmation-box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  text-align: center;
  z-index: 3; /* Higher than overlay */
}

/* slight overlay behind popup */
#overlay {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(83, 83, 83, 0.438); /* Slightly transparent */
  z-index: 2; /* Higher than the other stuff */
  cursor: pointer;
}

/* Confirmation Box buttons */
.confirmation-box button {
  margin: 0 10px;
  padding: 10px 20px;
}


/* ----- Preview Editor ----- */
.preview {
  outline: none;
  text-align: center;
  color: rgb(0, 0, 0);
}

.preview.hint {
  color: #fff;
}

/* placeholder text for input fields */
.preview.DeckName:empty::before {
  content: "{ Deck Name }*";
  pointer-events: none;
}

.preview.DeckDescription:empty::before {
  content: "{ Deck Description }";
  pointer-events: none;
}

.preview.question:empty::before {
  content: "{ Flashcard Question }*";
  pointer-events: none;
}

.preview.answer:empty::before {
  content: "{ Flashcard Answer }*";
  pointer-events: none;
}

.preview.hint:empty::before {
  content: "{ Hint Text }";
  pointer-events: none;
}

/* on focus */
.preview:empty:focus::before {
  color: rgb(107, 107, 107);
}


/* ----- Editor Layout & Character Inputter ----- */
.editor-layout {
  display: flex;
  justify-content: center;
}

/* character panel */
.characterPanel {
  /* width: 20vw;
  max-width: 550px; */
  max-height: 55vh;
  overflow-y: auto;
  min-width: 300px;
  background: #f1f1f1;
  padding: 10px;
  border-radius: 12px;
  text-align: center;
  margin-left: 5vw;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* character panel buttons */
.char-buttons {
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 10px;
  column-gap: 0px;
}

/* container of character panel */
.left-layout {
  width: 0; /* 0 width to not interfere w/ card */
  pointer-events: none;
  transition: width 0.3s ease-in-out; /* animate width and delay visibility change */
  transition-delay: 0.1s; /* delay the transition to make it smoother */
}
/* when open */
.left-layout.open {
  width: 320px; /* give it a width */
  pointer-events: auto;
  transition-delay: 0s;
}

/* animate inner content (use > * so we can reuse open class) */
.left-layout > * {
  opacity: 0;
  visibility: hidden; /* hide it */
  transform: translateX(-10px);
  transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out, visibility 0s linear 0.3s; /* animate opacity and left/right transform, delay visibility */
}

.left-layout.open > * {
  opacity: 1;
  visibility: visible; /* reveal it */
  transform: translateX(0); /* move it to original position */
  transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out, visibility 0s linear 0s; /* animate opacity and left/right transform, no delay on visibility */
}

/* On small screens use popup instead */
@media (max-width: 1200px) {
  .left-layout {
    position: fixed;
    /* make top left corner centred */
    top: 50%;
    left: 50%;
    transition: none;
    transform: translate(-50%, -50%); /* move whole thing 50% of its own size in each direction to centre */
    transition: opacity 0.2s ease-in-out, visibility 0s linear 0.2s; /* animate opacity and delay visibility */

    width: 70vw;
    visibility: hidden; /* hide it */
    pointer-events: none; /* stop interaction when hidden */
    z-index: 3; /* high z index to make it appear above other elements */
    background: #f1f1f1;
    padding: 10px;
    border-radius: 12px;
    opacity: 0;
  }
  /* when open */
  .left-layout.open {
    width: 70vw;
    visibility: visible; /* reveal it */
    pointer-events: auto; /* enable interaction when open */
    opacity: 1;
    transition-delay: 0s;
  }

  .left-layout > * {
    transition: none; /* disable animation for inner content */
    transform: none;
    /* make sure its visible and allow parent to do the transition */
    opacity: 1;
    visibility: visible;
  }

  /* grey overlay behind the popup */
  .characterPopup-overlay {
    visibility: hidden; /* hide it */
    position: fixed;
    /* make the overlay cover the entire screen */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.4);
    z-index: 2; /* 1 below the popup */
    opacity: 0;
    transition: opacity 0.2s ease-in-out, visibility 0s linear 0.2s; /* animate opacity and delay visibility */
  }
  /* when open */
  .characterPopup-overlay.open {
    visibility: visible; /* reveal it */
    opacity: 1;
    transition-delay: 0s;
  }

  /* centre panel when in popup mode */
  .characterPanel {
    margin-left: 0;
    transition: none; /* disable animation */
  }
}

/* remove transitions */
.no-transition .characterPopup-overlay,
.no-transition .left-layout,
.no-transition .left-layout > * {
  transition: none !important;
}
