/* -------------------- Homepage -------------------- */
.homepage-body {
  padding: 0 350px;
}

/* container for the resume section */
.resume-container {
  align-items: normal !important;
  padding: 20px 30px;
  width: 70%;
  background-color:rgb(255, 255, 255);
}

/* resume deck title */
.resume-title {
  margin: 0px 0px;
}

/* studied progress bar */
.resume-progress-outer {
  width: 80%;
  background-color: #c4c4c4;
}

/* total progress bar */
.resume-progress-inner {
  background-color: #607d8b !important;
  height: 20px;
}

.categoryHeaders {
  display: flex;
  align-items: center;
  gap: 20px;
}

.statsContainer {
  display: flex;
  flex-direction: row;
  gap: 50px;
  padding: 0 30px;
  justify-content: center;
}

.statsDaily,
.statsWeekly {
  background-color: #ffffff;
  width: 500px;
  padding: 30px;
  border-radius: 20px;
  box-shadow: 0 4px 20px 0 rgba(0,0,0,0.2);
}

.statsInner {
  display: flex;
  justify-content: space-between;
}