/* -------------------- Homepage -------------------- */
.homepage-body {
  padding: 0 400px;
}

/* container for the resume section */
.resume-container {
  align-items: normal !important;
  padding: 20px 30px;
  width: 70%;
  background-color:rgb(236, 236, 236);
}

/* resume deck title */
.resume-title {
  margin: 0px 0px;
}

/* studied progress bar */
.resume-progress-outer {
  width: 80%;
  background-color: #c4c4c4;
}

/* total progress bar */
.resume-progress-inner {
  background-color: #607d8b !important;
  height: 20px;
}