/* -------------------- Homepage -------------------- */
.homepage-body {
  padding: 0 15vw;
}

/* container for the resume section */
.resume-container {
  align-items: normal !important;
  padding: 20px 30px;
  width: 70%;
}

/* resume deck title */
.resume-title {
  margin: 0px 0px;
}

/* studied progress bar */
.resume-progress-outer {
  width: 80%;
  background-color: color-mix(in hsl, var(--text-color), rgb(155, 155, 155) 70%);
}

/* total progress bar */
.resume-progress-inner {
  background-color: var(--accent-color) !important;
  height: 20px;
  display:flex;
  align-items: center; 
}

.resume-progress-none {
  background-color: transparent !important;
  height: 20px;
  display:flex;
  align-items: center;
  padding: 0.01em 16px;
  color: var(--text-color) !important;
}

.categoryHeaders {
  display: flex;
  align-items: center;
  gap: 20px;
}

.statsContainer {
  display: flex;
  flex-direction: row;
  gap: 50px;
  padding: 0 30px;
  justify-content: center;
}

.statsDaily,
.statsWeekly {
  background-color: var(--secondary-bg-color);
  width: 500px;
  padding: 30px;
  border-radius: 20px;
  box-shadow: 0 4px 20px 0 var(--shadow-color);
}

.statsInner {
  display: flex;
  justify-content: space-between;
}