/* -------------------- Study Page -------------------- */

/* ----- Study Card ----- */
.card {
  display: grid;
  margin: 0 auto;
  background-color: var(--card-bg-color);
  padding: 10vw;
  border-radius: 8px;
  box-shadow: 0 4px 8px var(--shadow-color);
  text-align: center;
  width: calc(100% - 40vw); /* make wider when narrow */
  flex-direction: column;
  cursor: pointer; 
  border: none;
  word-break: break-word; /* allow long text to wrap */
  white-space: normal;
  max-width: 100%;
  color: var(--card-text-color);
}

@media (min-width: 1921px) {
  .card {
    padding: 192px;
    width: 1100px;
  }
}

.card:hover {
  background-color: color-mix(in hsl, var(--card-bg-color), rgb(155, 155, 155) 7%);
}


/* ----- Next/Prev Buttons ----- */
.card-container {
  position: relative;
}
/* position next/prev buttons relative to the card container */
#prev_button, #next_button {
  position: absolute;
  top: 50%;
  font-size: clamp(70px, 10vw, 192px);
  transform: translateY(-50%);
  background-color: transparent;
  box-shadow: none;
  color: var(--accent-color);

  margin: 0 5px;
  cursor: pointer;
  border: none;
  border-radius: 6px;
}
#prev_button:hover,
#next_button:hover {
  color: color-mix(in hsl, var(--accent-color), rgb(155, 155, 155) 20%);
}
/* disabled next/prev buttons */
#prev_button:disabled, #next_button:disabled {
  color: color-mix(in hsl, var(--text-color), rgb(155, 155, 155) 70%);
  cursor: not-allowed;
}
/* previous button */
#prev_button {
  left: 0;
  width: 20vw;
  text-align: center;
}
/* next button */
#next_button {
  right: 0;
  width: 20vw;
  text-align: center;
}

@media (min-width: 1921px) {
  #prev_button, #next_button {
    width: 384px;
  }
}


/* ----- Hint Tooltip ----- */
.tooltip {
  position: relative;
  display: block;
  margin: 0 auto;
  border-bottom: 1px dotted rgb(54, 54, 54);
  cursor: help;
  text-align: center;
  width: fit-content;
}

.tooltiptext {
  visibility: hidden; /* Hide */
  bottom: 100%;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgba(15, 15, 15, 0.726);
  color: #fff;
  cursor: text;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0px;
  position: absolute;
  z-index: 1;
  padding: 5px;
  width: max-content;
  max-width: 250px;
  white-space: normal;
}

/* hide the tooltip text on unhover w/ animation */
.tooltiptext {
  opacity: 0;
  transition: opacity 0.4s;
}

/* on hover reveal tooltip */
.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}


/* ----- User Response Buttons ----- */
.radio-buttons {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 20px;
}

/* real radio buttons */
.radio-buttons input[type="radio"] {
  display: none; /* hide the actual radio button */
}

/* new radio button */
.radio-buttons label {
  display: inline-block;
  padding: 10px 20px;
  margin: 0 5px;
  box-shadow: 0 1px 13px var(--shadow-color);
  border-radius: 8px;
  cursor: pointer;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  width: 135px;
  text-align: center;
  background-color: var(--accent-color);
  color: var(--accent-text-color);
}

/* new radio button selected */
.radio-buttons input[type="radio"]:checked + label {
  background-color: color-mix(in hsl, var(--accent-color), rgb(26, 26, 26) 40%);
}

/* new radio button on hover */
.radio-buttons label:hover {
  background-color: color-mix(in hsl, var(--accent-color), rgb(255, 255, 255) 30%);
}







.studyProgressInner {
  background-color: var(--accent-color) !important;
  height: 30px;
  display: flex;
  align-items: center;
  margin-left: -2px;
}

.studyProgressOuter {
  margin: auto;
  width: 35%;
  height: 30px;
  background-color: color-mix(in hsl, var(--text-color), rgb(155, 155, 155) 70%);
}

.studyProgressOuter.progressFull {
  height: 30px;
  background-color: var(--accent-color);
}