/* ----- all pages ----- */
html {
  background-color: white; /* to fix bg colour issues for some browsers/extensions */
  height: 100%;
}

/* ----- all text ----- */
body,h1,h2,h3,h4,h5,h6,p {
  font-family: Righteous, sans-serif;
  /* font-family: Montserrat; */
  /* font-family: Poppins; font-weight: 700; */
}

/* ----- body ----- */
body {
  max-width: 1920px; /* limit width for ultra wide screens */
  margin: 0 auto; /* centre */
}

/* ----- All Buttons ----- */
button:not(.close-btn):not(.card) {
  margin: 0 5px;
  padding: 5px 10px;
  cursor: pointer;
  border: none;
  border-radius: 6px;
  box-shadow: 0 4px 5px rgba(0, 0, 0, 0.2);
}

button:hover:not(.close-btn) {
  background-color: rgb(235, 235, 235);
}

button:not(.button-ignore) {
  box-shadow: 1px 1px 3px 0px #495f69;
  background-color: #607d8b;
  color: white; 
}

button:hover:not(.button-ignore) {
  background-color: #7195a7;
}



/* ----- Header (part above navbar) ----- */
.header-inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 100vw; 
  margin: 0 auto;
  padding: 0 10vw;
  position: relative;
}

@media (min-width: 1920px) {
  .header-inner {
    padding: 0 192px;
  }
}

/* ensure that navbar spans full width */
.navbar {
  position: relative;
  width: 100vw; /* full width */
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
}

/* stop navbar content from stretching too far */
.nav-content {
  max-width: 1920px;
  margin: 0 auto;
}

/* ----- 3-column used in listing decks/cards ----- */
.three-column {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 2em;
  text-align: center;
  align-items: stretch;
  padding: 0;
}

/* tablet mode with 2 columns */
@media (max-width: 1300px) {
  .three-column {
    grid-template-columns: 1fr 1fr; /* Stack items vertically on small screens */
  }
}

/* phone mode with 1 column */
@media (max-width: 750px) {
  .three-column {
    grid-template-columns: 1fr; /* Stack items vertically on small screens */
  }
}



/* ----- cards within 3-column ----- */
.w3-card-4 {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  box-sizing: border-box;
  border-radius: 8px;
  word-break: break-word; /* allow long text to wrap */
  overflow: visible;
  white-space: normal;
  max-width: 100%;
}

/* deck/card edit & detele buttons */
.card-buttons {
  display: flex;
  grid-template-columns: 1fr 1fr;
  gap: 5px;
}

/* Create deck/card button */
.plus {
  font-size: 4em;
}



/* ----- used in study, edit, and create ----- */
.card-editor {
  display: grid;
  margin: 0 auto;
  background-color: #f1f1f1;
  padding: 10vw;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  text-align: center;
  width: calc(100% - 40vw); /* make wider when narrow */
  flex-direction: column;
  cursor: default;
  border: none;
  word-break: break-word; /* allow long text to wrap */
  white-space: normal;
  max-width: 100%;
}

@media (min-width: 1921px) {
  .card-editor {
    padding: 192px;
    width: 1100px;
  }
}

/* make cursor type text for editable parts */
.card-editor h1, h4 {
  cursor: text;
}

/* remove selection on the divider */
.card-editor p {
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}


/* ----- used in study, edit, and create ----- */
.card {
  display: grid;
  margin: 0 auto;
  background-color: #f1f1f1;
  padding: 10vw;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  text-align: center;
  width: calc(100% - 40vw); /* make wider when narrow */
  flex-direction: column;
  cursor: pointer; 
  border: none;
  word-break: break-word; /* allow long text to wrap */
  white-space: normal;
  max-width: 100%;
}

@media (min-width: 1921px) {
  .card {
    padding: 192px;
    width: 1100px;
  }
}



/* ----- delete confirmation popup ----- */
.confirmation-box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  text-align: center;
  z-index: 3; /* Higher than overlay */
}

/* slight overlay behind popup */
#overlay {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(83, 83, 83, 0.438); /* Slightly transparent */
  z-index: 2; /* Higher than the other stuff */
  cursor: pointer;
}

/* Confirmation Box buttons */
.confirmation-box button {
  margin: 0 10px;
  padding: 10px 20px;
}



/* ----- Hint Tooltip ----- */
.tooltip {
  position: relative;
  display: block;
  margin: 0 auto;
  border-bottom: 1px dotted rgb(54, 54, 54); /* Dotted underline */
  cursor: pointer; /* Change cursor to point */
  text-align: center;
  width: fit-content; /* Shrink width to fit content */
}

.tooltiptext {
  visibility: hidden; /* Hide */
  bottom: 100%;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgba(15, 15, 15, 0.726);
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0px;
  position: absolute;
  z-index: 1;
  padding: 5px;
  width: max-content; /* shrink width to fit content */
  max-width: 250px; /* maximum width the tooltip can have */
  white-space: normal; /* allow text to wrap */
}

/* hide the tooltip text on unhover w/ animation */
.tooltiptext {
  opacity: 0;
  transition: opacity 0.4s;
}

/* on hover reveal tooltip */
.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}



/* ----- Login/Sign Up ----- */
.login-body {
  display: flex;
  width: 100%;
  padding: 0 20px;
  height: 100%;
  justify-content: center;
  align-items: center; 
}

.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto auto;
  max-width: 576px;
  width: 100%;
  height: 670px;
  padding: 2rem;
  text-align: center;
  border-radius: 32px;   
}


/* set login input field width */
form.login {
  width: 361px;
}

@media (max-width: 510px) {
  form.login {
    width: calc(70% + 20vw);
  }
}
/* set login input width */
.login input:not([type="checkbox"]) {
  width: 100%;
  padding: 0.5rem;
  margin: 0.5rem 0;
  border-radius: 8px;
}

/* show password button */
.showPasswords {
  user-select: none;
  cursor: pointer;
}

/* submit button */
.login input[type="submit"] {
  background-color: rgb(14, 103, 161);
  color: white;
  border: none;
  cursor: pointer;
}



/* ----- User Response Buttons ----- */
.radio-buttons {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 20px;
}

.radio-buttons input[type="radio"] {
  display: none; /* hide the actual radio button */
}

.radio-buttons label {
  display: inline-block;
  padding: 10px 20px;
  margin: 0 5px;
  box-shadow: 0 1px 13px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  cursor: pointer;
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none;
  width: 135px;
  text-align: center;
}

.radio-buttons input[type="radio"]:checked + label {
  background-color: #607d8b;
  color: white;
}

.radio-buttons label:hover {
  background-color: #7195a7;
  color: white;
}



/* ----- Alert Messages ----- */
.alert {
  padding: 10px;
  margin-bottom: 15px;
  border-radius: 8px;
  color: rgb(255, 255, 255);
  text-align: center;
  font-size: large;
  padding-right: 60px;
  padding-left: 60px; /* so text does not overlap w/ X button */
}

.alert.error {
  background-color: #f44336;
} 
.alert.success {
  background-color: #04AA6D;
} 

/* Text-Only Alert Messages */
.simpleAlert.error {
  color: rgb(219, 46, 46);
  margin-bottom: 1em;
}
.simpleAlert.success {
  color: rgb(46, 219, 46);
  margin-bottom: 1em;
}

/* Alert container */
.alertContainer {
  position: relative;
}

/* Close button for error messages */
.close-btn {
  position: absolute;
  top: 50%;
  right: 10px;
  cursor: pointer;
  background: none;
  border: none;
  color: #ffffff;
  justify-content: center;
  font-size: 25px;
  transform: translateY(-50%);
}



/* ----- MathJax text wraping (BREAKS M.J ERROR MESSAGES) ----- */
.card mjx-container,
.card mjx-container * {
  word-break: break-word !important;
  white-space: normal !important;
}

.w3-card-4 mjx-container,
.w3-card-4 mjx-container * {
  word-break: break-word !important;
  white-space: normal !important;
}

/* tries to make MathJax alerts as exception BUT DOES NOT WORK */
.alert {
  word-break: normal;
  overflow-wrap: normal;
  white-space: normal;
}



/* ----- Scroll To Top Buttons ----- */
.fixed-button {
  position: fixed;
  /* anchor to bottom right */
  bottom: 20px;
  right: 20px;

  width: 35px;
  height: 35px;
  padding: 0;  
  border: none;
  cursor: pointer;
  border-radius: 18px; /* make the button round like the icon */
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.2);
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  opacity: 0;
  pointer-events: none;
  /* smoothly appear from below */
  transform: translateY(10px);
  transition: opacity 0.25s ease-in-out, transform 0.25s ease-in-out;
}

/* smoothly reveal button */
.fixed-button.show {
  opacity: 1;
  pointer-events: auto;
  transform: translateY(0);
}

/* button image */
.fixed-button img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  border-radius: 5px;
}



/* ----- Preview Editor ----- */
.preview {
  outline: none;
  text-align: center;
  color: rgb(0, 0, 0);
}

.preview.hint {
  color: #fff;
}

/* placeholder text for input fields */
.preview.DeckName:empty::before {
  content: "{ Deck Name }*";
  pointer-events: none;
}

.preview.DeckDescription:empty::before {
  content: "{ Deck Description }";
  pointer-events: none;
}

.preview.question:empty::before {
  content: "{ Flashcard Question }*";
  pointer-events: none;
}

.preview.answer:empty::before {
  content: "{ Flashcard Answer }*";
  pointer-events: none;
}

.preview.hint:empty::before {
  content: "{ Hint Text }";
  pointer-events: none;
}

/* on focus */
.preview:empty:focus::before {
  color: rgb(107, 107, 107);
}



/* ----- Editor Layout & Character Inputter ----- */
.editor-layout {
  display: flex;
  justify-content: center;
}

/* character panel */
.characterPanel {
  /* width: 20vw;
  max-width: 550px; */
  max-height: 55vh;
  overflow-y: auto;
  min-width: 300px;
  background: #f1f1f1;
  padding: 10px;
  border-radius: 12px;
  text-align: center;
  margin-left: 5vw;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* character panel buttons */
.char-buttons {
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 10px;
  column-gap: 0px;
}

/* container of character panel */
.left-layout {
  width: 0; /* 0 width to not interfere w/ card */
  pointer-events: none;
  transition: width 0.3s ease-in-out; /* animate width and delay visibility change */
  transition-delay: 0.1s; /* delay the transition to make it smoother */
}
/* when open */
.left-layout.open {
  width: 320px; /* give it a width */
  pointer-events: auto;
  transition-delay: 0s;
}

/* animate inner content (use > * so we can reuse open class) */
.left-layout > * {
  opacity: 0;
  visibility: hidden; /* hide it */
  transform: translateX(-10px);
  transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out, visibility 0s linear 0.3s; /* animate opacity and left/right transform, delay visibility */
}

.left-layout.open > * {
  opacity: 1;
  visibility: visible; /* reveal it */
  transform: translateX(0); /* move it to original position */
  transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out, visibility 0s linear 0s; /* animate opacity and left/right transform, no delay on visibility */
}

/* On small screens use popup instead */
@media (max-width: 1200px) {
  .left-layout {
    position: fixed;
    /* make top left corner centred */
    top: 50%;
    left: 50%;
    transition: none;
    transform: translate(-50%, -50%); /* move whole thing 50% of its own size in each direction to centre */
    transition: opacity 0.2s ease-in-out, visibility 0s linear 0.2s; /* animate opacity and delay visibility */

    width: 70vw;
    visibility: hidden; /* hide it */
    pointer-events: none; /* stop interaction when hidden */
    z-index: 3; /* high z index to make it appear above other elements */
    background: #f1f1f1;
    padding: 10px;
    border-radius: 12px;
    opacity: 0;
  }
  /* when open */
  .left-layout.open {
    width: 70vw;
    visibility: visible; /* reveal it */
    pointer-events: auto; /* enable interaction when open */
    opacity: 1;
    transition-delay: 0s;
  }

  .left-layout > * {
    transition: none; /* disable animation for inner content */
    transform: none;
    /* make sure its visible and allow parent to do the transition */
    opacity: 1;
    visibility: visible;
  }

  /* grey overlay behind the popup */
  .characterPopup-overlay {
    visibility: hidden; /* hide it */
    position: fixed;
    /* make the overlay cover the entire screen */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.4);
    z-index: 2; /* 1 below the popup */
    opacity: 0;
    transition: opacity 0.2s ease-in-out, visibility 0s linear 0.2s; /* animate opacity and delay visibility */
  }
  /* when open */
  .characterPopup-overlay.open {
    visibility: visible; /* reveal it */
    opacity: 1;
    transition-delay: 0s;
  }

  /* centre panel when in popup mode */
  .characterPanel {
    margin-left: 0;
    transition: none; /* disable animation */
  }
}

.no-transition .characterPopup-overlay,
.no-transition .left-layout,
.no-transition .left-layout > * {
  transition: none !important;
}



/* ----- Toast Notification ----- */
#toast {
  visibility: hidden;
  min-width: 250px;
  background-color: #333333d3;
  color: #fff;
  text-align: center;
  border-radius: 12px;
  padding: 16px;
  position: fixed;
  z-index: 5; /* above all content, even overlays */
  left: 50%;
  transform: translate(-50%, 10px); /* centre horizontally */
  bottom: 30px;
  font-size: 17px;
  opacity: 0;
  /* x y blur spread */
  box-shadow: 0 5px 8px 3px rgba(0, 0, 0, 0.2);

  transition: transform 0.5s ease-in-out, visibility 0s linear 0.5s, opacity 0.5s ease-in-out; /* animate from below and delay visibility change */
}
/* when open */
#toast.open {
  transform: translate(-50%, 0);
  visibility: visible;
  opacity: 1;

  transition: transform 0.5s ease-in-out, visibility 0s linear 0.0s, opacity 0.5s ease-in-out; /* animate from below and no delay on visibility change */
}



/* ----- General Popups (used in MathJax help) ----- */
#popup {
  position: fixed;
  /* make top left corner centred */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); /* move whole thing 50% of its own size in each direction to centre */

  width: 70vw;
  visibility: hidden; /* hide it */
  pointer-events: none; /* stop interaction when hidden */
  z-index: 3; /* high z index to make it appear above other elements */
  background: #f1f1f1;
  padding: 10px;
  border-radius: 12px;
  overflow-y: scroll;

  max-height: 80vh;
  opacity: 0;
  transition: opacity 0.2s ease-in-out, visibility 0s linear 0.2s; /* animate opacity and delay visibility */
}
/* when open */
#popup.open {
  width: 70vw;
  visibility: visible; /* reveal it */
  pointer-events: auto; /* enable interaction when open */
  opacity: 1;
  transition-delay: 0s;
}

/* grey overlay behind the popup */
#popup-overlay {
  visibility: hidden; /* hide it */
  position: fixed;
  /* make the overlay cover the entire screen */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.4);
  z-index: 2; /* 1 below the popup */
  opacity: 0;
  transition: opacity 0.2s ease-in-out, visibility 0s linear 0.2s; /* animate opacity and delay visibility */
}
/* when open */
#popup-overlay.open {
  visibility: visible; /* reveal it */
  opacity: 1;
  transition-delay: 0s;
}



.tab-buttons {
  display: grid;
  gap: 10%;
  margin-bottom: 20px;
  padding: 10px 20%;
  grid-template-columns: auto auto auto;
}

.tab-buttons button {
  padding: 10px 20px;
  border: 2px solid black;
  border-radius: 8px;
  background-color: white;
  cursor: pointer;
  color: black;
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none;
}

.tab-buttons button.active {
  background-color: #0e67a1;
  color: white;
}

.tab-content {
  display: none;
}

.tab-content.active {
  display: block;
}


/* Table in the MathJax help popup (taken from w3schools) */
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}
/* change bg colour for even rows */
tr:nth-child(even) {
  background-color: #dddddd;
}



/* ----- sorting and ordering ----- */
.sort-form {
  position: absolute;
  top: 0;
  right: 30px;
  padding: 6px;
  text-align: right;
}
/* header in deck/s pages */
.deck-header {
  position: relative;
  max-width: 1920px;
  margin: 0 auto;
  height: 100%;
  padding: 0 30px;
  margin-bottom: 10px;
}

/* sort and ordering buttons */
#sort_by,
#order {
  border-width: 1px;
  border-color: rgb(179, 179, 179);
  border-radius: 3px;
  outline: none;
  background-color: white;
}

/* add side padding in homepage */
.homepage-body {
  padding: 0 400px;
}



/* ----- Next/Prev Buttons ----- */
.card-container {
  position: relative;
}
/* position next/prev buttons relative to the card container */
#prev_button, #next_button {
  position: absolute;
  top: 50%;
  font-size: clamp(70px, 10vw, 192px);
  transform: translateY(-50%);
  background-color: transparent;
  box-shadow: none;
  color: #607d8b;
}
/* disabled next/prev buttons */
#prev_button:disabled, #next_button:disabled {
  color: #a1a1a179;
  cursor: not-allowed;
}
/* previous button */
#prev_button {
  left: 0;
  width: 20vw;
  text-align: center;
}
/* next button */
#next_button {
  right: 0;
  width: 20vw;
  text-align: center;
}

@media (min-width: 1921px) {
  #prev_button, #next_button {
    width: 384px;
  }
}



.profile-btn {
  padding: 13px 19px !important;
  padding-right: 24px !important;
  display: flex;
  align-items: center;
  gap: 10px;
  border-radius: 25px !important;
  text-decoration: none;
}

.signin-btn {
  padding: 18px 28px !important;
  border-radius: 25px !important;
  text-decoration: none;
}