body,h1,h2,h3,h4,h5,h6 {
    font-family: Righteous, sans-serif;
}

.three-column {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2em;
    text-align: center;
}

/* all images at 100% width */
img {
    width: 100%;
    aspect-ratio: 1.6 / 1; 
    object-fit: cover; 
}

.two-column{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 3em;
}



.card {
    display: grid;
    margin: auto;
    background-color: #f1f1f1;
    padding: 200px;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    text-align: center;
    width: 60%;
    height: 500px;
    cursor: pointer; 
    border: none;
}