{% extends "layout.html" %}

{% block title %}Edit Card{% endblock %}

{% block body %}

<!-- Error message -->
{% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages%}
        {% for category, message in messages%}
            <div class="alertContainer">
                <p class="alert {{ category }}">{{message}}</p>
                <button onclick="this.parentElement.remove()" class="close-btn {{ category }}">x</button>
            </div>
        {%endfor%}
    {%endif%}
{%endwith%}

<!-- Card creation form -->
<form id="cardForm" action="{{ url_for('editCard', id=deck_info[1], card_id=cards[0]) }}" method="POST" autocomplete="off">
    <p style="color: rgb(168, 46, 46);">* Indicates required question</p>
    <label>Flashcard Question<span style="color: rgb(219, 54, 54); font-size: smaller;">*</span>:</label>
    <input id="questionInput" name="cardQuestion" value="{{ cards[1] }}" required><br><br>
    <label>Flashcard Answer<span style="color: rgb(219, 54, 54); font-size: smaller;">*</span>:</label>
    <input id="answerInput" name="cardAnswer" value="{{ cards[2] }}" required><br><br>
    <label>Flashcard Hint:</label>
    <input id="hintInput" name="cardHint" value="{{ cards[4] }}"><br><br>
    <button type="submit">Submit</button>
    <button type="reset">Reset</button><br><br>
</form>

<!-- Card preview -->
<div class="card" style="cursor: default;">
    <!-- the question then the answer -->
    <h1 id="question">{{ cards[1] }}</h1>
    <p id="answer">{{ cards[2] }}</p>
</div>

<br><div class="tooltip">
    Hint💡<span id="hint" class="tooltiptext", style="visibility: visible; opacity: 1;">{{ cards[4] }}</span>
</div>

{% endblock %}