{% extends "layout.html" %}

{% block title %}Study{% endblock %}

{% block body %}

<h2 style="text-align: center;">Study</h2>

<h3 style="text-align: center;">Card {{ index + 1 }} of {{ total }}</h3>
{% if index + 1 >= total  %}
<div class="w3-round-xlarge studyProgressOuter progressFull"></div>
{% else %}
<div class="w3-round-xlarge studyProgressOuter">
  {% if index > 0 %}
  <div class="w3-container w3-blue w3-round-xlarge studyProgressInner" style="width: calc({{ index + 1 }}% / {{ total }} * 100);"></div>
  {% endif %}
</div>
{% endif %}

<br>


{% if index + 1 >= total %}
  <button id="exit_button" form="responseForm" type="submit">Exit</button>
  <p>You've completed the deck!</p>
{% endif %}


<div class="card-container">
  <!-- Previous card button -->
  {% if index > 0 %}
    <a href="{{ url_for('Study', id=deck_id, index=index - 1) }}">
      <button class="btn-ignore-all" id="prev_button"><</button>
    </a>
  {% else %}
    <button class="btn-ignore-all" id="prev_button" disabled><</button>
  {% endif %}
  
  {% if cards[2] == 'flashcard' %}
    <!-- Show answer -->
    {% if cards %}
    <button class="card button-ignore" id="card_click" onclick="clickAction()" data-question="{{ cards[4] }}" data-answer="{{ cards[5] }}">
        <h2 class="scientific" id="card">{{ cards[4] }}</h2>
      </button>
    {% endif %}

  {% elif cards[2] == 'quiz' %}
  <div id="QUIZ" style="width: 60%; margin: auto;" class="quizContainer">
    <div style="width: 100%; background-color: var(--card-bg-color); border-radius: 10px; text-align: center; padding: 20px;">
      <h1 id="quizQuestion" class="preview quizQuestion">{{ cards[6] }}</h1>
    </div>
    <div class="options" style="display: grid; grid-template-columns: 1fr 1fr; grid-auto-flow: row; gap: 30px; width: 100%; margin-top: 30px;">
      <div style="background-color: var(--card-bg-color); border-radius: 10px; padding: 20px 30px; display: flex; justify-content: space-between; cursor: pointer;" onclick="document.getElementById('quizAnswer1Radio').checked = true;">
        <h2 id="quizAnswer1" class="preview quizAnswer1">{{ cards[7] }}</h2>
        <input type="radio" name="quizAnswer" id="quizAnswer1Radio" value="1" form="quizForm" style="height: 20px; width: 20px; margin: auto 0; cursor: pointer;">
      </div>

      <div style="background-color: var(--card-bg-color); border-radius: 10px; padding: 20px 30px; display: flex; justify-content: space-between; cursor: pointer;" onclick="document.getElementById('quizAnswer2Radio').checked = true;">
        <h2 id="quizAnswer2" class="preview quizAnswer2">{{ cards[8] }}</h2>
        <input type="radio" name="quizAnswer" id="quizAnswer2Radio" value="2" form="quizForm" style="height: 20px; width: 20px; margin: auto 0; cursor: pointer;">
      </div>

      <div style="background-color: var(--card-bg-color); border-radius: 10px; padding: 20px 30px; display: flex; justify-content: space-between; cursor: pointer;" onclick="document.getElementById('quizAnswer3Radio').checked = true;">
        <h2 id="quizAnswer3" class="preview quizAnswer3">{{ cards[9] }}</h2>
        <input type="radio" name="quizAnswer" id="quizAnswer3Radio" value="3" form="quizForm" style="height: 20px; width: 20px; margin: auto 0; cursor: pointer;">
      </div>

      <div style="background-color: var(--card-bg-color); border-radius: 10px; padding: 20px 30px; display: flex; justify-content: space-between; cursor: pointer;" onclick="document.getElementById('quizAnswer4Radio').checked = true;">
        <h2 id="quizAnswer4" class="preview quizAnswer4">{{ cards[10] }}</h2>
        <input type="radio" name="quizAnswer" id="quizAnswer4Radio" value="4" form="quizForm" style="height: 20px; width: 20px; margin: auto 0; cursor: pointer;">
      </div>
    </div>
  </div>


  {% elif cards[2] == 'TF' %}
    <div id="TF" style="width: 60%; margin: auto;" class="quizContainer">
      <div style="width: 100%; background-color: var(--card-bg-color); border-radius: 10px; text-align: center; padding: 20px;">
        <h1 id="tfQuestion" contenteditable="plaintext-only" class="preview tfQuestion">{{ cards[12] }}</h1>
      </div>

      <div class="TFOptions" style="display: grid; grid-template-columns: 1fr 1fr; grid-auto-flow: row; gap: 30px; width: 100%; margin-top: 30px;">
        <div id="tfOption1" style="background-color: var(--card-bg-color); border-radius: 10px; padding: 20px 30px; display: flex; justify-content: space-between; cursor: pointer;" onclick="document.getElementById('tfAnswer1Radio').checked = true;">
          <h2>TRUE</h2>
          <input type="radio" name="tfAnswer" id="tfAnswer1Radio" value="1" form="tfForm" style="height: 20px; width: 20px; margin: auto 0;">
        </div>
      
        <div id="tfOption2" style="background-color: var(--card-bg-color); border-radius: 10px; padding: 20px 30px; display: flex; justify-content: space-between; cursor: pointer;" onclick="document.getElementById('tfAnswer2Radio').checked = true;">
          <h2>FALSE</h2>
          <input type="radio" name="tfAnswer" id="tfAnswer2Radio" value="2" form="tfForm" style="height: 20px; width: 20px; margin: auto 0;">
        </div>
      </div>
    </div>
  {% endif %}

  <!-- Next card button -->
  {% if index + 1 < total %}
    <button class="btn-ignore-all" id="next_button" form="responseForm" type="submit">></button>
  {% else %}
    <button class="btn-ignore-all" id="next_button" form="responseForm" type="submit" disabled>></button>
  {% endif %}
</div>

<!-- if hint exists -->
{% if cards and cards[3] %}
  <br><div class="tooltip" style="cursor: help;">
    Hint💡<span class="tooltiptext scientific" id="hint">{{ cards[3] }}</span>
  </div>
{% endif %}

<!-- Correct/Incorrect/Skip -->
<form action="{{ url_for('Study', id=deck_id, index=index) }}" method="POST" id="responseForm"{% if cards[2] != 'flashcards' %} style="display: none;"{% endif %}>
  <div class="radio-buttons">
    <input type="radio" id="correct" name="response" value="correct">
    <label for="correct">Correct [1]</label>
    
    <input type="radio" id="incorrect" name="response" value="incorrect">
    <label for="incorrect">Incorrect [2]</label>
    
    <input type="radio" id="skip" name="response" value="skip">
    <label for="skip">Skip [3]</label>
  </div>
  <p id="keybindhint" style="text-align: center; color: color-mix(in hsl, var(--text-color), rgb(155, 155, 155) 70%);">* press the corresponding number on your keyboard to change response</p>
</form>

<!-- Keybinds Help -->
<button onclick="openPopupTab('studykeys');">Keybinds</button>





<!----------------------------------- Javascript ----------------------------------->
<script>

  // ----- Card Flipper -----
  let showingAnswer = false;
  const card = document.getElementById("card");
  const cardButton = document.getElementById("card_click");

  const questionText = cardButton.dataset.question;
  const answerText = cardButton.dataset.answer;

  function clickAction() {
    if (!showingAnswer) {
      // Show answer
      card.textContent = answerText;
      showingAnswer = true;
    } 
    
    else {
      // Show question
      card.textContent = questionText;
      showingAnswer = false;
    }
    MathJax.typesetPromise([card]);
  }




  // ----- Keybinds -----
  document.addEventListener('keydown', (event) => {
    if (event.key === '1') {
      document.getElementById("correct").checked = true;
    }
    if (event.key === '2') {
      document.getElementById("incorrect").checked = true;
    }
    if (event.key === '3') {
      document.getElementById("skip").checked = true;
    }

    if (event.key === ' ') {
      clickAction()
    }

    const next = document.getElementById("next_button");
    const exit = document.getElementById("exit_button");
    const prev = document.getElementById("prev_button");
    if (event.key === 'ArrowRight') {
        next.click();
        exit.click();
    }
    if (event.key === 'ArrowLeft') {
        prev.click();
    }
  });



  // const responseValue = document.querySelector('input[name="response"]:checked');

  // function enableNextButton() {
  //   if (responseValue) {
  //     document.getElementById("next_button").disabled = false;
  //     document.getElementById("exit_button").disabled = false;
  //   }

  //   else {
  //     document.getElementById("next_button").disabled = true;
  //     document.getElementById("exit_button").disabled = true;
  //   }
  // }

  // document.getElementById("responseForm").addEventListener("change", enableNextButton);


  // ----- Scientific Text Renderer -----

</script>

{% endblock %}
