{% extends "layout.html" %}
{% block body %}

<!-- Error message -->
{% if error %}
  <p class="error">{{ error }}</p>
{% endif %}

<!-- Card creation form -->
<form id="cardForm" action="{{ url_for('createCard', id=deck_info[1]) }}" method="POST" autocomplete="off">
    <p style="color: rgb(168, 46, 46);">* Indicates required question</p>
    <label>Flashcard Question<span style="color: rgb(219, 54, 54); font-size: smaller;">*</span>:</label>
    <input id="questionInput" name="cardQuestion" placeholder="eg, What is 1 + 1?" required><br><br>
    <label>Flashcard Answer<span style="color: rgb(219, 54, 54); font-size: smaller;">*</span>:</label>
    <input id="answerInput" name="cardAnswer" placeholder="eg, 2" required><br><br>
    <label>Flashcard Hint:</label>
    <input id="hintInput" name="cardHint" placeholder="eg, Think about basic arithmetic"><br><br>
    <button type="submit">Submit</button>
    <button type="reset">Reset</button><br><br>
</form>

<!-- Card preview -->
<div class="card" style="cursor: default;">
    <!-- the question then the answer -->
    <h1 id="question">{ Flashcard Question }</h1>
    <p id="answer">{ Flashcard Answer }</p>
</div>

<br><div class="tooltip">
    Hint💡<span id="hint" class="tooltiptext", style="visibility: visible; opacity: 1;">{ Hint text }</span>
</div>

{% endblock %}
