{% extends "layout.html" %}

{% block title %}Edit Card{% endblock %}

{% block body %}

<!-- Error message -->
{% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages%}
        {% for category, message in messages%}
            <div class="alertContainer">
                <p class="alert {{ category }}">{{message}}</p>
                <button onclick="this.parentElement.remove()" class="close-btn {{ category }}">x</button>
            </div>
        {%endfor%}
    {%endif%}
{%endwith%}

<!-- Card creation form -->
<form id="cardForm" action="{{ url_for('editCard', id=deck_info[1], card_id=cards[0]) }}" method="POST" autocomplete="off">
    <p style="color: rgb(168, 46, 46);">* Indicates required question</p>

    <input id="questionInput" name="cardQuestion" type="hidden" value="{{ cards[1] }}" required>
    <input id="answerInput" name="cardAnswer" type="hidden" value="{{ cards[2] }}" required>
    <input id="hintInput" name="cardHint" type="hidden" value="{{ cards[4] }}">

    <button type="submit">Submit</button>
    <button type="reset">Reset</button><br><br>
</form>

<!-- Popup Overlay that takes up whole screen -->
<div id="characterPopup-overlay" onclick="closeDropdownPanel()"></div>
<div id="popup-overlay" onclick="closePopup()"></div>

<div style="text-align:center; margin-bottom: 20px;">
  <button type="button" onclick="togglePanel()">⌨ Special Characters</button>
  <button type="button" onclick="togglePopup()">🛈 MathJax Help</button>
</div>

<div class="editor-layout">
    <!-- left side -->
    <div class="left-layout" id="characterPanel">
        <!-- Character Panel -->
        {% include 'components/charInputter.html' %}
    </div>

    <!-- Card preview (right side) -->
    <div class="card-editor">
        <!-- the question then the answer -->
        <h1 id="question" contenteditable="plaintext-only" class="preview question">{{ cards[1] }}</h1>
        <p>---------------</p>
        <h4 id="answer" contenteditable="plaintext-only" class="preview answer">{{ cards[2] }}</h4>
    </div>
</div>

<br><div class="tooltip">
    Hint💡<span id="hint" class="tooltiptext preview hint", style="visibility: visible; opacity: 1;" contenteditable="plaintext-only">{{ cards[4] }}</span>
</div>

<!-- MathJax Rendering Toggle -->
<input type="checkbox" id="MathJaxCheck" onclick="toggleMathJax()" checked>
<label for="MathJaxCheck">Enable MathJax Preview</label>

<!-- Copied Text Toast -->
<div id="toast"></div>

<!-- Add the MathJax help html -->
{% include 'components/MathJaxHelp.html' %}

<!-- import deck editor js -->
<script src="{{ url_for('static', filename='js/cardEditor.js') }}"></script>
<script src="{{ url_for('static', filename='js/charInputter&MathJax.js') }}"></script>

{% endblock %}