{% extends "layout.html" %}
{% block body %}
<h2>Study</h2>

<h3>Card {{ index + 1 }} of {{ total }}</h3>

<!-- Previous card button -->
{% if index > 0 %}
    <a href="{{ url_for('Study', id=deck_id, index=index - 1) }}">
        <button id="prev_button" class="prev">Previous</button>
    </a>
{% endif %}

<!-- Next card button -->
{% if index + 1 < total %}
    <a href="{{ url_for('Study', id=deck_id, index=index + 1) }}">
        <button id="next_button" class="next">Next</button>
    </a>
{% else %}
    <a href="{{ url_for('Deck', id=deck_id) }}">
        <button id="exit_button" class="exit">Exit</button>
    </a>
    <p>You've completed the deck!</p>
{% endif %}

<!-- Show answer -->
{% if cards %}
  <button class="card" id="card_click">
    <h2 id="card">{{ cards[1] }}</h2>
  </button>

  <br><div class="tooltip" style="cursor: help;">
    Hint💡<span class="tooltiptext">{{ cards[4] }}</span>
  </div>

  <!-- Correct/Incorrect/Skip -->
  <div class="radio-buttons">
    <input type="radio" id="correct" name="response" class="prev">
    <label for="correct">Correct [1]</label>
    
    <input type="radio" id="incorrect" name="response" class="prev">
    <label for="incorrect">Incorrect [2]</label>
    
    <input type="radio" id="skip" name="response" class="prev">
    <label for="skip">Skip [3]</label>
  </div>
  <p id="keybindhint" style="text-align: center; color: rgb(63, 63, 63);">*press [alt + shift] + Number to change response</p>
  <!-- DOES NOT DO ANYTHING YET -->

{% else %}
  <p>No cards in this deck.</p>
{% endif %}

<script>

// Show answer when card is clicked
function clickAction(){
  if (card.textContent === "{{ cards[1] }}") {
    card.textContent = "{{ cards[2] }}";
  } 
  
  else {
    card.textContent = "{{ cards[1] }}";
  }
}

card_click.onclick = clickAction;

document.getElementById("correct").accessKey = "1";
document.getElementById("incorrect").accessKey = "2";
document.getElementById("skip").accessKey = "3";

const keybindHint = document.getElementById("keybindhint");
const ua = navigator.userAgent;

if (ua.indexOf("Firefox") > -1) {
    keybindHint.textContent = "*press [Alt + Shift] + Number to change response";
} else {
    keybindHint.textContent = "*press [Alt] + Number to change response";
}

</script>
{% endblock %}

