  {% extends "layout.html" %}

{% block title %}Study{% endblock %}

  {% block body %}
  <h2>Study</h2>

  <h3>Card {{ index + 1 }} of {{ total }}</h3>

  <!-- Previous card button -->
  {% if index > 0 %}
      <a href="{{ url_for('Study', id=deck_id, index=index - 1) }}">
          <button id="prev_button">Previous</button>
      </a>
  {% endif %}

  <!-- Next card button -->
  {% if index + 1 < total %}
      <button id="next_button" form="responseForm" type="submit">Next</button>
  {% else %}
      <button id="exit_button" form="responseForm" type="submit">Exit</button>
      <p>You've completed the deck!</p>
  {% endif %}

  <!-- Show answer -->
  {% if cards %}
    <button class="card" id="card_click" data-question="{{ cards[1] }}" data-answer="{{ cards[2] }}">
      <h2 class="scientific" id="card">{{ cards[1] }}</h2>
    </button><br>

    {% if cards[4] %}
      <div class="tooltip" style="cursor: help;">
        Hint💡<span class="tooltiptext scientific" id="hint">{{ cards[4] }}</span>
      </div>
    {% endif %}

    <!-- Correct/Incorrect/Skip -->
    <form action="{{ url_for('Study', id=deck_id, index=index) }}" method="POST" id="responseForm">
      <div class="radio-buttons">
        <input type="radio" id="correct" name="response" value="correct">
        <label for="correct">Correct [1]</label>
        
        <input type="radio" id="incorrect" name="response" value="incorrect">
        <label for="incorrect">Incorrect [2]</label>
        
        <input type="radio" id="skip" name="response" value="skip">
        <label for="skip">Skip [3]</label>
      </div>
      <p id="keybindhint" style="text-align: center; color: rgb(63, 63, 63);">*press [alt + shift] + Number to change response</p>
    </form>

  {% else %}
    <p>No cards in this deck.</p>
  {% endif %}












<!----------------------------------- Javascript ----------------------------------->
<script>

  // ----- Card Flipper -----
  document.addEventListener("DOMContentLoaded", () => {
    let showingAnswer = false;
    const cardButton = document.getElementById("card_click");
    const card = document.getElementById("card");

    const questionText = cardButton.dataset.question;
    const answerText = cardButton.dataset.answer;

  function clickAction() {
    if (!showingAnswer) {
      // Show answer
      card.textContent = answerText;
      showingAnswer = true;
    } 
    
    else {
      // Show question
      card.textContent = questionText;
      showingAnswer = false;
    }
    MathJax.typesetPromise([card]);
  }

    cardButton.onclick = clickAction;
  });


  // ----- Keybinds -----
  document.getElementById("correct").accessKey = "1";
  document.getElementById("incorrect").accessKey = "2";
  document.getElementById("skip").accessKey = "3";

  const keybindHint = document.getElementById("keybindhint");
  const ua = navigator.userAgent;


  // ----- Browser Checker -----
  if (ua.indexOf("Firefox") > -1) {
    keybindHint.textContent = "*press [Alt + Shift] + Number to change response";
  } else {
    keybindHint.textContent = "*press [Alt] + Number to change response";
  }


  // const responseValue = document.querySelector('input[name="response"]:checked');

  // function enableNextButton() {
  //   if (responseValue) {
  //     document.getElementById("next_button").disabled = false;
  //     document.getElementById("exit_button").disabled = false;
  //   }

  //   else {
  //     document.getElementById("next_button").disabled = true;
  //     document.getElementById("exit_button").disabled = true;
  //   }
  // }

  // document.getElementById("responseForm").addEventListener("change", enableNextButton);


  // ----- Scientific Text Renderer -----

</script>
  {% endblock %}

