{% extends "layout.html" %}

{% block title %}Create New Deck{% endblock %}

{% block body %}

<!-- Error message -->
{% include "components/alerts.html" %}

<div id="characterPopup-overlay" class="characterPopup-overlay" onclick="closeDropdownPanel()"></div>

<!-- Deck creation form -->
<form id="deckForm" action="{{ url_for('createDeck') }}" method="POST" autocomplete="off">
    <p style="color: rgb(168, 46, 46);">* Indicates required question</p>
    <input id="deckInput" name="deckName" type="hidden" required>
    <input id="descriptionInput" name="deckDescription" type="hidden">
    <!-- <label>Cover Image:</label>
    <input type="file" id="myfile" name="myfile"><br><br> -->
    <button type="submit">Submit</button>
    <button type="reset">Reset</button>
    <label for="deckVisibility">Deck Visibility:</label>
    <select name="deckVisibility" id="deckVisibility">
        <option value="private" {% if visibility == 'private' %}selected{% endif %}>Private</option>
        <option value="unlisted" {% if visibility == 'unlisted' %}selected{% endif %}>Unlisted</option>
        <option value="public" {% if visibility == 'public' %}selected{% endif %}>Public</option>
    </select>
</form>

<div style="text-align:center; margin-bottom: 20px;">
  <button type="button" onclick="togglePanel()">⌨ Special Characters</button>
  <button type="button" onclick="openPopupTab('mathjax')">🛈 MathJax Help</button>
</div>

<div class="editor-layout">
    <!-- left side -->
    <div class="left-layout" id="characterPanel">
        <!-- Character Panel -->
        {% include 'components/charInputter.html' %}
    </div>

    <!-- Card preview (right side) -->
    <div class="card-editor">
        <h1 id="deckName" contenteditable="plaintext-only" class="preview DeckName"></h1>
        <p>---------------</p>
        <h4 id="deckDescription" contenteditable="plaintext-only" class="preview DeckDescription"></h4>
    </div>
</div>

<p style="color: rgb(107, 107, 107); text-align: center;">* deck description defaults to "No description."</p>

<!-- MathJax Rendering Toggle -->
<input type="checkbox" id="MathJaxCheck" onclick="toggleMathJax()" checked>
<label for="MathJaxCheck">Enable MathJax Preview</label><br>

<!-- Copied Text Toast -->
<div id="toast"></div>

<!-- import deck editor js -->
<script src="{{ url_for('static', filename='js/deckEditor.js') }}"></script>
<script src="{{ url_for('static', filename='js/characterInputter.js') }}"></script>

{% endblock %}
