{% extends "layout.html" %}
{% block body %}

<!-- Error message -->
{% if error %}
  <p class="error">{{ error }}</p>
{% endif %}

<!-- Deck creation form -->
<form action="{{ url_for('createDeck') }}" method="POST">
    <p style="color: rgb(168, 46, 46);">* Indicates required question</p>
    <label>Deck Name<span style="color: rgb(219, 54, 54); font-size: smaller;">*</span>:</label>
    <input id="deckInput" name="deckName"><br><br>
    <label>Description:</label>
    <input id="descriptionInput" name="deckDescription"><br><br>
    <label>Cover Image:</label>
    <input type="file" id="myfile" name="myfile"><br><br>
    <button type="submit">Submit</button><br><br>
</form>

<!-- Deck preview -->
<div class="w3-card-4">
    <h1 id="deck">Deck Name</h1>
    <p id="description"><span style="color: rgb(107, 107, 107);">No description.</span></p>
</div>


<!-- script -->
<script>

function InputAction() {
    deck.textContent = deckInput.value;
    description.textContent = descriptionInput.value;
}

deckInput.oninput = InputAction;
descriptionInput.oninput = InputAction;

</script>
{% endblock %}
