{% extends "layout.html" %}
{% block body %}

<h2>Decks</h2>
<p>Select a deck to view its cards.</p>

<!-- If decks exist -->
{% if results %}
    <!-- a 3 column grid -->
    <div class="three-column">
        <!-- Create Deck button -->
        <a href="{{ url_for('createDeck') }}" style="text-decoration: none;">
            <div class="w3-card-4">
                <h1 class="plus">+</h1>
            </div>
        </a>

        {% for deck in results %}
        <!-- Deck List -->
        <a href="{{ url_for('Deck', id=deck[0]) }}" style="text-decoration: none;">
            <div class="w3-card-4">
                <!-- the name then the description -->
                <h1>{{ deck[1] }}</h1>
                <p>{{ deck[2] }}</p>
            </div>
        </a>
        {% endfor %}
    </div>

<!-- No deck message -->
{% else %}
<p>You have no decks yet.</p>

<a href="{{ url_for('createDeck') }}" style="text-decoration: none;">
    <div class="w3-card-4">
        <h1 class="plus">+</h1>
    </div>
</a>

{% endif %}

{% endblock %}