{% extends "layout.html" %}
{% block body %}

<!-- Error message -->
{% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages%}
        {% for category, message in messages%}
            <div class="alertContainer">
                <p class="alert {{ category }}">{{message}}</p>
                <button onclick="this.parentElement.remove()" class="close-btn">✖</button>
            </div>
        {%endfor%}
    {%endif%}
{%endwith%}

<!-- Deck creation form -->
<form id="deckForm" action="{{ url_for('createDeck') }}" method="POST" autocomplete="off">
    <p style="color: rgb(168, 46, 46);">* Indicates required question</p>
    <label>Deck Name<span style="color: rgb(219, 54, 54); font-size: smaller;">*</span>:</label>
    <input id="deckInput" name="deckName" placeholder="eg, Term 2 Chemistry" required><br><br>
    <label>Description:</label>
    <input id="descriptionInput" name="deckDescription" placeholder="eg, Term 2 Chemistry test questions"><br><br>
    <!-- <label>Cover Image:</label>
    <input type="file" id="myfile" name="myfile"><br><br> -->
    <button type="submit">Submit</button>
    <button type="reset">Reset</button><br><br>
</form>

<!-- Deck preview -->
<div class="card" style="cursor: default;">
    <h1 id="deckName">{ Deck Name }</h1>
    <p id="deckDescription"><span style="color: rgb(107, 107, 107);">{ Deck Description }</span></p>
</div>

<p style="color: rgb(107, 107, 107); text-align: center;">* deck description defaults to "No description."</p>

{% endblock %}
