{% extends "layout.html" %}

{% block title %}{{ deck_info[0].replace('\\(', '').replace('\\)', '').replace('$$', '').replace('\\[', '').replace('\\]', '') }}{% endblock %}

{% block body %}

<!-- Error message -->
{% include "components/alerts.html" %}

<div class="deck-header">
  <h2 class="scientific" style="margin-right: 190px;">{{ deck_info[0] }}</h2>

  <!-- If cards exist -->
  {% if results %}

  <p>Cards in this deck:</p>
  <a href="{{ url_for('start_study', id=deck_info[1]) }}"><button id="study-button">Click here to start studying!</button></a>
  <a href="{{ url_for('Decks') }}"><button>Back</button></a>

  <br><br><form action="{{ url_for('Deck', id=deck_info[1]) }}" method="GET" class='sort-form'>
    <label for="sort_by">Sort by:</label>
    <select name="sort_by" id="sort_by">
      <option value="card_creation" {% if sort_by == 'card_creation' %}selected{% endif %}>Creation Date</option>
      <option value="card_question" {% if sort_by == 'card_question' %}selected{% endif %}>Question</option>
      <option value="card_answer" {% if sort_by == 'card_answer' %}selected{% endif %}>Answer</option>
    </select><br><br>
    
    <label for="order">Order:</label>
    <select name="order" id="order">
      <option value="DESC" {% if order == 'DESC' %}selected{% endif %}>Descending</option>
      <option value="ASC" {% if order == 'ASC' %}selected{% endif %}>Ascending</option>
    </select><br><br>
    
    <button type="submit">Apply</button>
  </form>

  <!-- Empty deck message -->
  {% else %}
  <p>This deck has no cards yet.</p>
  <a href="{{ url_for('Decks') }}"><button>Back</button></a><br><br>
  <a href="{{ url_for('createCard', id=deck_info[1]) }}" style="text-decoration: none;">
    <div class="w3-card-4">
        <h1 class="plus">+</h1>
    </div>
  </a>
  {% endif %}
</div>

{% if results %}
<!-- a 3 column grid -->
<div class="three-column">
    <!-- Create Card button -->
    <a href="{{ url_for('createCard', id=deck_info[1]) }}" style="text-decoration: none;">
      <div class="w3-card-4">
        <h1 class="plus">+</h1>
      </div>
    </a>
    
    {% for card in results %}
    <!-- Card List -->
      <div class="w3-card-4">
        <div class="card-buttons">
          <!-- edit card -->
          <a href="{{ url_for('editCard', id=deck_info[1], card_id=card[0]) }}">
            <button type="submit" class="edit-button">✏️</button>
          </a>
          <!-- delete card -->
          <form action="{{ url_for('deleteCard', id=deck_info[1], card_id=card[0]) }}" method="POST">
            <input type="hidden" name="deck_id" value="{{ deck_info[1] }}">
            <button type="button" onclick="showConfirm(this.form)" class="delete-button">❌</button>
          </form>
        </div>
        <!-- the question then the answer -->
        <h1 class="scientific">{{ card[1] }}</h1>
        <p>---------------</p>
        <p class="scientific">{{ card[2] }}</p>
      </div>
    <!-- </a> -->
    {% endfor %}
  </div>

{% endif %}
<p>Deck created {{ time_ago(deck_info[2]) }} | {{ format_date(deck_info[2]) }}</p>

<!-- confirmation overlay -->
<div id="overlay" onclick="off()"> <!-- Turn off overlay when clicking outside -->
  <div class="confirmation-box" onclick="event.stopPropagation()">
    <p>Are you sure you want to delete this card?</p>
    <button onclick="confirmDelete()">Yes</button> 
    <button onclick="off()">No</button>
  </div>
</div>

<!-- scroll to top button -->
<div class="fixed-button">
    <a onclick="window.scrollTo({top: 0, behavior: 'smooth'});">
        <img src="{{ url_for('static', filename='assets/scroll.svg') }}" alt="Scroll To Top Button" title="Scroll To Top">
    </a>    
</div>


<!----------------------------------- Javascript ----------------------------------->
<script>

// ----- Delete Confirmation -----
// turn on confirmation overlay
function on() {
  document.getElementById("overlay").style.display = "block";
}

// turn off confirmation overlay
function off() {
  document.getElementById("overlay").style.display = "none";
}

// variable to store form info
let formToDelete = null; 

// when delete button is clicked
function showConfirm(form) {
  formToDelete = form; // Store the form to send if confirmed
  on(); // Show confirmation overlay
}

// if user confirms delete
function confirmDelete() {
  if (formToDelete) {
    formToDelete.submit(); //submit the stored form
    formToDelete = null; // Clear the stored form
  }
  off(); // Hide confirmation overlay
}

// define button
const scrollBtn = document.querySelector(".fixed-button");

// detect when user scrolls below 200
window.addEventListener("scroll", () => {
    scrollBtn.classList.toggle("show", window.scrollY > 200);
});

const studyButton = document.getElementById("study-button")
document.addEventListener('keydown', (event) => {
  if (event.key === 's') {
    studyButton.click()
  }
})

</script>

{% endblock %}
