{% extends "layout.html" %}

{% block title %}Decks{% endblock %}

{% block body %}

<!-- Error message -->
{% include "components/alerts.html" %}

<div id="share-popupOverlay" onclick="closeSharePopup()"></div>

<div class="deck-header">
    <h2>Your Decks</h2>
    
    <!-- If decks exist -->
    {% if results %}
    <h6 style="margin-bottom: 20px;">Select a deck to view its cards.</h6>

    <form action="{{ url_for('Decks') }}" method="GET" class='sort-form' style="top: 18px;">
        <label for="filter">Filter:</label>
        <select name="filter" id="filter">
            <option value="none" {% if filter == 'none' %}selected{% endif %}>None</option>
            <option value="public" {% if filter == 'public' %}selected{% endif %}>Public</option>
            <option value="unlisted" {% if filter == 'unlisted' %}selected{% endif %}>Unlisted</option>
            <option value="private" {% if filter == 'private' %}selected{% endif %}>Private</option>
        </select>

        <label for="sort_by">Sort by:</label>
        <select name="sort_by" id="sort_by">
            <option value="deck_creation" {% if sort_by == 'deck_creation' %}selected{% endif %}>Creation Date</option>
            <option value="deck_name" {% if sort_by == 'deck_name' %}selected{% endif %}>Name</option>
            <option value="deck_description" {% if sort_by == 'deck_description' %}selected{% endif %}>Description</option>
        </select>

        <label for="order">Order:</label>
        <select name="order" id="order">
            <option value="DESC" {% if order == 'DESC' %}selected{% endif %}>Descending</option>
            <option value="ASC" {% if order == 'ASC' %}selected{% endif %}>Ascending</option>
        </select>

        <button type="submit">Apply</button>
    </form>

    <!-- No deck message -->
    {% else %}
    
        {% if filter != 'none' %}
        <h6>Some decks may be hidden. <a href="{{ url_for('Decks') }}" class="blue-text">Clear filters</a></h6>
        </form>
        {% else %}
            <h6>You have no decks yet.</h6>

        {% endif %}

        <form action="{{ url_for('Decks') }}" method="GET" class='sort-form' style="top: 18px;">
            <label for="filter">Filter:</label>
            <select name="filter" id="filter">
                <option value="none" {% if filter == 'none' %}selected{% endif %}>None</option>
                <option value="public" {% if filter == 'public' %}selected{% endif %}>Public</option>
                <option value="unlisted" {% if filter == 'unlisted' %}selected{% endif %}>Unlisted</option>
                <option value="private" {% if filter == 'private' %}selected{% endif %}>Private</option>
            </select>
            
            <button type="submit">Apply</button>
        </form>

        <a href="{{ url_for('createDeck') }}">
            <div class="w3-card-4">
                <h1 class="plus">+</h1>
            </div>
        </a>
    {% endif %}
</div>

{% if results %}
<!-- a 3 column grid -->
<div class="three-column">
    <!-- Create Deck button -->
    <a href="{{ url_for('createDeck') }}">
        <div class="w3-card-4">
            <h1 class="plus">+</h1>
        </div>
    </a>

    {% for deck in results %}
    <!-- Deck List -->
    <div onclick="window.location='{{ url_for('Deck', id=deck[0]) }}'" style="text-decoration: none; cursor: pointer;"> <!-- Make it div to stop conflicts w/ buttons inside -->
        <div class="w3-card-4">
            <div class="dropdown">
                <button class="dropdown-btn btn-ignore-all" onclick="event.preventDefault(); event.stopPropagation(); toggleDropdown(this)">
                    <svg xmlns="http://www.w3.org/2000/svg"
                        height="24"
                        viewBox="0 0 24 24"
                        width="24" focusable="false"
                        aria-hidden="true"
                        style="pointer-events: none;
                        display: inherit;
                        width: 100%;
                        height: 100%;
                        float: right;">
                        <path d="M12 4a2 2 0 100 4 2 2 0 000-4Zm0 6a2 2 0 100 4 2 2 0 000-4Zm0 6a2 2 0 100 4 2 2 0 000-4Z"></path>
                    </svg>
                </button>
                <div class="dropdown-content">
                    {% if userID %}
                    <!-- edit deck -->
                    <a href="{{ url_for('editDeck', id=deck[0]) }}">
                        <img src="{{ url_for('static', filename='assets/edit.png') }}" alt="Edit" style="width: 20px; height: 20px;"> Edit
                    </a>

                    <!-- delete deck -->
                    <form action="{{ url_for('deleteDeck', id=deck[0]) }}" method="POST">
                        <input type="hidden" name="deck_id" value="{{ deck[0] }}">
                        <a href="" onclick="event.preventDefault(); event.stopPropagation(); showConfirm(this.form);">
                            <img src="{{ url_for('static', filename='assets/bin.png') }}" alt="Delete" style="width: 20px; height: 20px;"> Delete
                        </a>
                    </form>
                    {% endif %}

                    <!-- study deck -->
                    <a href="{{ url_for('start_study', id=deck[0]) }}">
                        <img src="{{ url_for('static', filename='assets/book.png') }}" alt="Study" style="width: 20px; height: 20px;"> Study
                    </a>

                    {% if userID %}
                    <!-- bookmark deck -->
                    <a href="{{ url_for('Decks') }}">
                        <img src="{{ url_for('static', filename='assets/bookmarkgrey.png') }}" alt="Bookmark" style="width: 20px; height: 18px;"> Save
                    </a>
                    {% endif %}

                    <!-- expand/collapse card -->
                    <a href="" onclick="event.preventDefault(); event.stopPropagation(); expandCard(this);">
                    <img src="{{ url_for('static', filename='assets/expand.svg') }}" alt="Expand" style="width: 20px; height: 20px;"> <span>Expand</span>
                    </a>

                    <!-- share deck -->
                    <a href="" onclick="event.preventDefault(); event.stopPropagation(); openSharePopup('{{ deck[0] }}', '{{ deck[1] }}');">
                        <img src="{{ url_for('static', filename='assets/share.png') }}" alt="Share" style="width: 20px; height: 20px;"> Share
                    </a>

                </div>
            </div>

            <!-- the name then the description -->
            <h1 class="scientific ellipse-multi">{{ deck[1] }}</h1>
            <p>---------------</p>
            {% if deck[2] %}
                <p style="color: rgb(107, 107, 107);" class="scientific ellipse-multi">{{ deck[2] }}</p>
            {% else %}
                <p style="color: rgb(107, 107, 107);">No description</p>
            {% endif %}
        </div>
    </div>
    {% endfor %}
</div>

{% endif %}

<!-- confirmation overlay -->
<div id="overlay" onclick="off()"> <!-- Turn off overlay when clicking outside -->
<div class="confirmation-box" onclick="event.stopPropagation()">
    <p>Are you sure you want to delete this deck?</p>
    <button onclick="confirmDelete()" class="button-ignore" style="background-color: #f44336; color: white;">Yes</button> 
    <button onclick="off()" class="button-ignore" style="border: 2px solid #f44336; color: #f44336; background-color: white">No</button>
</div>
</div>

<!-- scroll to top button -->
<div class="fixed-button">
    <a onclick="window.scrollTo({top: 0, behavior: 'smooth'});">
        <img src="{{ url_for('static', filename='assets/scroll.svg') }}" alt="Scroll To Top Button" title="Scroll To Top">
    </a>
</div>


<!-- share popup -->
<div id="share-popup" onclick="event.stopPropagation();" style="cursor: auto;">
    <h3>Share The "<span id="share-deckName"></span>" Deck</h3><br>

    <div class="share-buttons">
        <a id="share-whatsapp" target="_blank">
            <button class="btn-ignore-all">
                <img src="{{ url_for('static', filename='assets/whatsapp.png') }}" alt="whatsapp logo"></img>
                WhatsApp
            </button>
        </a>
        <a id="share-email" target="_blank">
            <button class="btn-ignore-all">
                <img src="{{ url_for('static', filename='assets/email.png') }}" alt="email icon"></img>
                Email
            </button>
        </a>
        <a id="share-facebook" target="_blank">
            <button class="btn-ignore-all">
                <img src="{{ url_for('static', filename='assets/facebook.png') }}" alt="facebook logo"></img>
                Facebook
            </button>
        </a>
        <a id="share-twitter" target="_blank">
            <button class="btn-ignore-all">
                <img src="{{ url_for('static', filename='assets/twitter.png') }}" alt="twitter logo"></img>
                Twitter / X
            </button>
        </a>
        <a id="share-reddit" target="_blank">
            <button class="btn-ignore-all">
                <img src="{{ url_for('static', filename='assets/reddit.png') }}" alt="reddit logo"></img>
                Reddit
            </button>
        </a>
        <a id="share-pinterest" target="_blank">
            <button class="btn-ignore-all">
                <img src="{{ url_for('static', filename='assets/pinterest.png') }}" alt="pinterest logo"></img>
                Pinterest
            </button>
        </a>
        <a id="share-linkedin" target="_blank">
            <button class="btn-ignore-all">
                <img src="{{ url_for('static', filename='assets/linkedin.png') }}" alt="linkedin logo"></img>
                LinkedIn
            </button>
        </a>
    </div><br>

    <input type="text" id="share-link" readonly>
    <button onclick="navigator.clipboard.writeText(document.getElementById('share-link').value);">Copy</button>

    <button onclick="closeSharePopup()" class="btn-ignore-all share-close">✖</button>

    <button id="share-leftArrow" class="share-leftArrow btn-ignore-all" onclick="scrollShareButtons('left')"><</button>
    <button id="share-rightArrow" class="share-rightArrow btn-ignore-all" onclick="scrollShareButtons('right')">></button>

</div>

<script>
// ----- Delete Confirmation -----
// turn on confirmation overlay
function on() {
  document.getElementById("overlay").style.display = "block";
}

// turn off confirmation overlay
function off() {
  document.getElementById("overlay").style.display = "none";
}

// variable to store form info
let formToDelete = null; 

// when delete button is clicked
function showConfirm(form) {
  formToDelete = form; // Store the form to send if confirmed
  on(); // Show confirmation overlay
}

// if user confirms delete
function confirmDelete() {
  if (formToDelete) {
    formToDelete.submit(); //submit the stored form
    formToDelete = null; // Clear the stored form
  }
  off(); // Hide confirmation overlay
}



// ----- Scroll to top button -----
// define button
const scrollBtn = document.querySelector(".fixed-button");

// detect when user scrolls below 200
window.addEventListener("scroll", () => {
    scrollBtn.classList.toggle("show", window.scrollY > 200);
});



// ----- Dropdown Menu -----
// close all dropdowns
function closeAll() {
    document.querySelectorAll('.dropdown-content.open').forEach(dropdown => {
        dropdown.classList.remove('open');
    });
}

// close dropdowns when clicking outside
document.addEventListener('click', () => {
    closeAll();
});

// toggle dropdown visibility on button click
function toggleDropdown(button) {
    // define dropdown content relative to button
    const dropdownContent = button.nextElementSibling;
    // check if open
    const isOpen = dropdownContent.classList.contains('open');
    closeAll(); // Close all dropdowns first
    if (!isOpen) {
        dropdownContent.classList.add('open'); // open the clicked dropdown
    }
};



// ----- expand/collapse long cards-----
// expand/collapse card
function expandCard(button) {
    const text1 = button.parentElement.parentElement.nextElementSibling; // get question/deckname element
    const text2 = text1.nextElementSibling.nextElementSibling; // get answer/description element
    const isExpanded = text1.classList.contains('expanded'); // check if currently expanded

    // if expanded
    if (isExpanded) {
        // collapse text
        text1.classList.remove('expanded');
        text2.classList.remove('expanded');
        // change icon and text back to expand
        button.querySelector('img').src = "{{ url_for('static', filename='assets/expand.svg') }}";
        button.querySelector('span').textContent = "Expand";
    } 

    // if not expanded
    else {
        // expand text
        text1.classList.add('expanded');
        text2.classList.add('expanded');
        // change icon and text to collapse
        button.querySelector('img').src = "{{ url_for('static', filename='assets/collapse.png') }}";
        button.querySelector('span').textContent = "Collapse";
    }
}



// ----- Share Popup -----
// define popup and overlay
const sharePopup = document.getElementById('share-popup');
const sharePopupOverlay = document.getElementById('share-popupOverlay');

const shareDeckName = document.getElementById('share-deckName');
const shareLink = document.getElementById('share-link');
const shareWhatsapp = document.getElementById('share-whatsapp');
const shareEmail = document.getElementById('share-email');
const shareFacebook = document.getElementById('share-facebook');
const shareTwitter = document.getElementById('share-twitter');
const shareReddit = document.getElementById('share-reddit');
const sharePinterest = document.getElementById('share-pinterest');
const shareLinkedIn = document.getElementById('share-linkedin');

// when share button is clicked
function openSharePopup(deckID, deckName) {
    const deckURL = `${window.location.origin}/deck/${deckID}`; // make deck url
    // share message converted to url format
    const message = encodeURIComponent(`Check out my ${deckName} flashcards! ${deckURL}\n${deckURL}`);
    
    shareDeckName.textContent = deckName; // set popup title to deck name
    shareLink.value = deckURL; // set share link to deck url
    // set all the share links with the message/deck url (some don't allow messages and some accept url parameters)
    shareWhatsapp.href = `https://api.whatsapp.com/send/?text=${message}`;
    shareEmail.href = `mailto:?subject=Check out this deck!&body=${message}`;
    shareFacebook.href = `https://www.facebook.com/sharer/sharer.php?u=${encodeURIComponent(deckURL)}`;
    shareTwitter.href = `https://twitter.com/intent/tweet?text=${message}`;
    shareReddit.href = `https://www.reddit.com/submit?url=${encodeURIComponent(deckURL)}&title=${encodeURIComponent('Check out my ${deckName} flashcards!')}`;
    sharePinterest.href = `https://pinterest.com/pin/create/button/?url=${encodeURIComponent(deckURL)}&description=${encodeURIComponent('Check out my ${deckName} flashcards!')}`;
    shareLinkedIn.href = `https://www.linkedin.com/sharing/share-offsite/?url=${encodeURIComponent(deckURL)}`;

    // close all dropdowns
    closeAll()

    // check if popup is already open
    sharePopup.classList.toggle('open'); // add open class
    sharePopupOverlay.classList.toggle('open'); // add open class
}

// close popup
function closeSharePopup() {
    sharePopup.classList.remove('open'); // remove open class
    sharePopupOverlay.classList.remove('open'); // remove open class
}



// -----  Share Buttons Scrolling -----
// define share buttons container
const shareButtons = document.querySelector('.share-buttons');

// scroll share buttons
function scrollShareButtons(direction) {
    if (direction === 'left') {
        shareButtons.scrollBy({ left: -100, behavior: 'smooth' });
    } 
    else if (direction === 'right') {
        shareButtons.scrollBy({ left: 100, behavior: 'smooth' });
    }
    // update arrows after scroll
    updateScrollArrows()
};

// run on page load
updateScrollArrows()

// detect when user scrolls in share buttons
shareButtons.addEventListener('scroll', (event) => {
    updateScrollArrows()
})



// ----- Mouse Scroll to Scroll Share Buttons -----
// when mouse scroll is used on share buttons
shareButtons.addEventListener('wheel', (event) => {
    event.preventDefault(); // prevent vertical scroll
    shareButtons.scrollBy({ left: event.deltaY, behavior: 'smooth' }); // scroll horizontally
});



 // ----- Keybinds -----
document.addEventListener('keydown', (event) => {
    if (event.key === 'ArrowLeft') {
        scrollShareButtons('left');
    }
    if (event.key === 'ArrowRight') {
        scrollShareButtons('right');
    }

    // if escape is pressed, close popup
    if (event.key === 'Escape') {
        closeSharePopup();
    }
});



// ----- Update Scroll Arrow Visibility -----
// update scroll arrows
function updateScrollArrows() {
    // define arrows
    const leftArrow = document.getElementById('share-leftArrow');
    const rightArrow = document.getElementById('share-rightArrow');

    // get current scroll pos
    const scrollPos = shareButtons.scrollLeft;
    // get max scroll pos
    const maxScrollLeft = shareButtons.scrollWidth - shareButtons.clientWidth;

    
    // if scroll pos is at start
    if (scrollPos <= 0) {
        // hide left arrow
        leftArrow.style.display = 'none';
    }
    else {
        // show left arrow
        leftArrow.style.display = 'block';
    }

    // if scroll pos is at end
    if (scrollPos >= maxScrollLeft) {
        // hide right arrow
        rightArrow.style.display = 'none';
    }
    else {
        // show right arrow
        rightArrow.style.display = 'block';
    }
}


</script>

{% endblock %}