{% extends "layout.html" %}
{% block body %}

<!-- Error message -->
{% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages%}
        {% for category, message in messages%}
            <div class="alertContainer">
                <p class="alert {{ category }}">{{message}}</p>
                <button onclick="this.parentElement.remove()" class="close-btn">✖</button>
            </div>
        {%endfor%}
    {%endif%}
{%endwith%}

<!-- Deck creation form -->
<form id="deckForm" action="{{ url_for('editDeck', id=results[0][0]) }}" method="POST" autocomplete="off">
    <p style="color: rgb(168, 46, 46);">* Indicates required question</p>
    <label>Deck Name<span style="color: rgb(219, 54, 54); font-size: smaller;">*</span>:</label>
    <input id="deckInput" name="deckName" value="{{ results[0][1] }}" required><br><br>
    <label>Description:</label>
    <input id="descriptionInput" name="deckDescription" value="{{ results[0][2] }}" placeholder="No description"><br><br>
    <!-- <label>Cover Image:</label>
    <input type="file" id="myfile" name="myfile"><br><br> -->
    <button type="submit">Submit</button>
    <button type="reset">Reset</button><br><br>
</form>

<!-- Deck preview -->
<div class="card" style="cursor: default;">
    <h1 id="deckName">{{ results[0][1] }}</h1>
    <p id="deckDescription"><span style="color: rgb(107, 107, 107);">{{ results[0][2] }}</span></p>
</div>

<p style="color: rgb(107, 107, 107); text-align: center;">* deck description defaults to "No description."</p>

{% endblock %}
