{% extends "layout.html" %}
{% block body %}
<!-- home page goes here -->
<h2>{{ deck_name }}</h2>
{% if results %}
  <p>Cards in this deck:</p>
  <a href="{{ url_for('Study', id=results[0][0], index=0) }}"><button>Click here to start studying!</button></a>
  <a href="{{ url_for('Decks') }}"><button>Back</button></a>

  <!-- a 3 column grid -->

  <div class="three-column">
    <a href="{{ url_for('createCard', id=results[0][0]) }}" style="text-decoration: none;">
      <div class="w3-card-4">
        <h1 class="plus">+</h1>
      </div>
    </a>
    {% for card in results %}
    <!-- <a href="{{ url_for('Deck', id=card[0]) }}"> -->
        <div class="w3-card-4">
            <!-- the question only -->
            <h1>{{ card[1] }}</h1>
            <p>{{ card[2] }}</p>
        </div>
    <!-- </a> -->
    {% endfor %}
  </div>
{% else %}
<p>This deck has no cards yet.</p>
{% endif %}

{% endblock %}