{% extends "layout.html" %}

{% block title %}Home{% endblock %}

{% block body %}

{% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages%}
        {% for category, message in messages%}
            <div class="alertContainer">
                <p class="alert {{ category }}">{{message}}</p>
                <button onclick="this.parentElement.remove()" class="close-btn">✖</button>
            </div>
        {%endfor%}
    {%endif%}
{%endwith%}

<h1>Welcome, {{ username }}!</h1>

<a href="{{ url_for('Decks') }}"><button>View Decks</button></a>
<a href="{{ url_for('createDeck') }}"><button>Create Deck</button></a>

{% endblock %}