{% extends "layout.html" %}

{% block title %}Home{% endblock %}

{% block body %}

<!-- Error message -->
{% include "components/alerts.html" %}

<div class="homepage-body">
    {% if username == 'Guest'  %}
    <h1>Welcome to Flashcard maker!</h1>    
    {% else %}
    <h1>Welcome back {{ username }}!</h1>

    
    {% endif %}
    
    {% if can_resume %}
    <h2>Jump Back In</h2>
    <div class="resume-container w3-card-4">
        <h2 class="resume-title ellipse-single">{{ deck_name }}</h2>
        <div class="w3-round-xlarge resume-progress-outer">
            <div class="w3-container w3-blue w3-round-xlarge resume-progress-inner" style="width: {{ percent }}%;"></div>
        </div>
        <p>{{ index + 1 }}/{{ total }} cards studied</p>
        <a href="{{ url_for('resume_study', id=deckID) }}"><button>Resume Study</button></a>
    </div><br>
    {% endif %}
    <h2>Recent Decks Studied</h2>
    <h2>Bookmarked Decks</h2>
    <h2>Public Decks</h2>
    <h2>Your Statistics</h2>
    <h2>Did you know?</h2>
</div>


<div class="fixed-button">
    <a onclick="window.scrollTo({top: 0, behavior: 'smooth'});">
        <img src="{{ url_for('static', filename='assets/scroll.svg') }}" alt="Scroll To Top Button" title="Scroll To Top">
    </a>
</div>

<script>
// define button
const scrollBtn = document.querySelector(".fixed-button");

// detect when user scrolls below 200
window.addEventListener("scroll", () => {
    scrollBtn.classList.toggle("show", window.scrollY > 200);
});
</script>

{% endblock %}