{% extends "layout.html" %}

{% block title %}Home{% endblock %}

{% block body %}

<!-- Error message -->
{% include "components/alerts.html" %}

<div class="homepage-body">
    {% if username == 'Guest'  %}
        <h1>Welcome to Flashcard maker!</h1>    
    {% else %}
        <h1>Welcome back {{ username }}!</h1>
    {% endif %}
    
    {% if can_resume %}
    <div class="categoryHeaders">
        {% include "icons/recent.html" %}
        <h2>Jump Back In</h2>
    </div>
        <div class="resume-container w3-card-4">
            <h2 class="resume-title ellipse-single">{{ deck_name }}</h2>
            <div class="w3-round-xlarge resume-progress-outer" style="height: 20px;">
                {% if percent > 0 %}
                <div class="w3-container w3-blue w3-round-xlarge resume-progress-inner" style="width: {{ percent }}%;"></div>
                {% endif %}
            </div>
            <p>{{ index }}/{{ total }} cards studied</p>
            <a href="{{ url_for('resume_study', id=deckID) }}"><button>Resume Study</button></a>
        </div><br>
    {% endif %}
    
    {% if username != 'Guest' %}
    <div class="categoryHeaders">
        {% include "icons/statistics.html" %}
        <h2>Your Progress</h2> <a href="{{ url_for('stats') }}"><h6 style="color: color-mix(in hsl, var(--accent-color), rgb(255, 255, 255) 40%) !important;">View more ></h6></a>
    </div>
    <div class="statsContainer">
        <div class="statsDaily">
            <!-- <h1 style="font-size: 2rem;">CURRENT STREAK</h1> -->
            <div class="statsInner">
                {% if currentStreak == 0 %}
                <h2>You do not have a streak yet...</h2>
                <h4>Study a deck to begin a streak!</h4>
                {% else %}
                <h2>I'm on a</h2>
                <h1 style="font-size: 8rem; margin-top: -20px; margin-bottom: -20px;">{{ currentStreak }}</h1>
                <h2>day streak!!</h2>
                {% endif %}
            </div>
        </div>

        <div class="statsWeekly">
            <h3>All Time Stats</h3>
            <div class="statsInner">
                <div style="display: flex; flex-direction: column;">
                    <h5 style="margin-bottom: 0;">Time Studied This Week</h5>
                    <h6>0 mins</h6>
                </div>
                <div style="display: flex; flex-direction: column;">
                    <h5 style="margin-bottom: 0;">Cards Studied This Week</h5>
                    <h6>0 cards</h6>
                </div>
            </div><br>

            <p>Correct: {{ answer_stats[0] }}</p>
            <p>Incorrect: {{ answer_stats[1] }}</p>
            <p>Skip</p>
        </div>
    </div>
<!-- 
    <br><div class="categoryHeaders">
        {% include "icons/recent.html" %}
        <h2>Recent Decks Studied</h2>
    </div>
    <div class="three-column">
        <div onclick="window.location='{{ url_for('Decks') }}'" style="text-decoration: none; cursor: pointer;">
            <div class="w3-card-4">
                <h1 class="scientific ellipse-multi">DECK NAME</h1>
                <p>---------------</p>
                <p style="color: color-mix(in hsl, var(--text-color), rgb(155, 155, 155) 70%);" class="scientific ellipse-multi">DECK DESCRIPTION</p>
            </div>
        </div>
        <div onclick="window.location='{{ url_for('Decks') }}'" style="text-decoration: none; cursor: pointer;">
            <div class="w3-card-4">
                <h1 class="scientific ellipse-multi">DECK NAME</h1>
                <p>---------------</p>
                <p style="color: color-mix(in hsl, var(--text-color), rgb(155, 155, 155) 70%);" class="scientific ellipse-multi">DECK DESCRIPTION</p>
            </div>
        </div>
        <div onclick="window.location='{{ url_for('Decks') }}'" style="text-decoration: none; cursor: pointer;">
            <div class="w3-card-4">
                <h1 class="scientific ellipse-multi">DECK NAME</h1>
                <p>---------------</p>
                <p style="color: color-mix(in hsl, var(--text-color), rgb(155, 155, 155) 70%);" class="scientific ellipse-multi">DECK DESCRIPTION</p>
            </div>
        </div>
    </div><br> -->

    {% endif %}
    
    <div class="categoryHeaders">
        {% include "icons/world.html" %}
        <h2>Public Decks</h2> <a href="{{ url_for('public') }}"><h6 style="color: color-mix(in hsl, var(--accent-color), rgb(255, 255, 255) 40%) !important;">View all ></h6></a>
    </div>
    <div class="three-column">
        {% for deck in publicDecks %}
        <!-- Deck List -->
        <div onclick="window.location='{{ url_for('Deck', id=deck[0]) }}'" style="text-decoration: none; cursor: pointer;"> <!-- Make it div to stop conflicts w/ buttons inside -->
            <div class="w3-card-4">
                <div class="dropdown">
                    <button class="dropdown-btn btn-ignore-all" onclick="event.preventDefault(); event.stopPropagation(); toggleDropdown(this)">
                        <svg xmlns="http://www.w3.org/2000/svg"
                            height="24"
                            viewBox="0 0 24 24"
                            width="24" focusable="false"
                            aria-hidden="true"
                            style="pointer-events: none;
                            display: inherit;
                            width: 100%;
                            height: 100%;
                            fill: var(--text-color);
                            float: right;">
                            <path d="M12 4a2 2 0 100 4 2 2 0 000-4Zm0 6a2 2 0 100 4 2 2 0 000-4Zm0 6a2 2 0 100 4 2 2 0 000-4Z"></path>
                        </svg>
                    </button>
                    <div class="dropdown-content">
                        <!-- study deck -->
                        <a href="{{ url_for('start_study', id=deck[0]) }}">
                            {% include "icons/book.html" %} Study
                        </a>

                        <!-- expand/collapse card -->
                        <a onclick="event.preventDefault(); event.stopPropagation(); expandCard(this);">
                            <span class="expand-icon">{% include "icons/expand.html" %}</span>
                            <span class="collapse-icon" style="display:none;">{% include "icons/collapse.html" %}</span>
                            <span class="expand-collapse-text">Expand</span>
                        </a>

                        <!-- share deck -->
                        <a href="" onclick="event.preventDefault(); event.stopPropagation(); openSharePopup('{{ deck[0] }}', '{{ deck[1] }}');">
                            {% include "icons/share.html" %} Share
                        </a>

                    </div>
                </div>

                <!-- the name then the description -->
                <h1 class="scientific ellipse-multi">{{ deck[1] }}</h1>
                <p>---------------</p>
                {% if deck[2] %}
                    <p style="color: color-mix(in hsl, var(--text-color), rgb(155, 155, 155) 70%);" class="scientific ellipse-multi">{{ deck[2] }}</p>
                {% else %}
                    <p style="color: color-mix(in hsl, var(--text-color), rgb(155, 155, 155) 70%);">No description</p>
                {% endif %}
            </div>
        </div>
        {% endfor %}
    </div>


    <br><div class="categoryHeaders">
        {% include "icons/questionMark.html" %}
        <h2>Did you know?</h2>
    </div>
    <div>
        TRIVIA HERE
    </div>
</div>

<!-- scroll to top button -->
<div class="fixed-button">
    <a onclick="window.scrollTo({top: 0, behavior: 'smooth'});">
      {% include "icons/scroll.html" %}
    </a>
</div>

<!-- share popup -->
{% include "components/share.html" %}

<script>

// define button
const scrollBtn = document.querySelector(".fixed-button");

// detect when user scrolls below 200
window.addEventListener("scroll", () => {
    scrollBtn.classList.toggle("show", window.scrollY > 200);
});



// ----- Dropdown Menu -----
// close all dropdowns
function closeAll() {
    document.querySelectorAll('.dropdown-content.open').forEach(dropdown => {
        dropdown.classList.remove('open');
    });
}

// close dropdowns when clicking outside
document.addEventListener('click', () => {
    closeAll();
});

// toggle dropdown visibility on button click
function toggleDropdown(button) {
    // define dropdown content relative to button
    const dropdownContent = button.nextElementSibling;
    // check if open
    const isOpen = dropdownContent.classList.contains('open');
    closeAll(); // Close all dropdowns first
    if (!isOpen) {
        dropdownContent.classList.add('open'); // open the clicked dropdown
    }
};



// ----- expand/collapse long cards-----
// expand/collapse card
function expandCard(button) {
    const text1 = button.parentElement.parentElement.nextElementSibling; // get question/deckname element
    const text2 = text1.nextElementSibling.nextElementSibling; // get answer/description element
    const isExpanded = text1.classList.contains('expanded'); // check if currently expanded

    // if expanded
    if (isExpanded) {
        // collapse text
        text1.classList.remove('expanded');
        text2.classList.remove('expanded');
        // change icon and text back to expand
        button.querySelector('.expand-icon').style.display = '';
        button.querySelector('.collapse-icon').style.display = 'none';
        button.querySelector('.expand-collapse-text').textContent = 'Expand';
    } 

    // if not expanded
    else {
        // expand text
        text1.classList.add('expanded');
        text2.classList.add('expanded');
        // change icon and text to collapse
        button.querySelector('.expand-icon').style.display = 'none';
        button.querySelector('.collapse-icon').style.display = '';
        button.querySelector('.expand-collapse-text').textContent = 'Collapse';
    }
}

</script>

{% endblock %}