<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/5/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Righteous">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Flashcard Maker</title>
</head>
<body class="w3-container">
    <!-- Shared Header Bar -->
     <header class="w3-container w3-padding-32">
        <div class="header-inner">
            <h1 onclick="window.location='{{ url_for('home') }}'" style="cursor: pointer;">Flashcard Maker</h1>
            <a href="{{ url_for('Decks') }}"><button>🔎︎ View</button></a>
            <input type="text" name="Search" id="Search" placeholder="🔎︎ Search decks...">
            <a href="{{ url_for('createDeck') }}"><button>+ Create</button></a>
            {% if username != 'Guest' %}
                <a href="{{ url_for('profile') }}"><button>👤 Profile</button></a>
            {% else %}
                <a href="{{ url_for('login') }}"><button>👤 Login/Signup</button></a>
            {% endif %}
        </div>
    </header>
    <nav class="w3-bar w3-blue-grey">
        <a href="{{ url_for('home') }}" class="w3-bar-item w3-button">Home</a>
        <a href="{{ url_for('Decks') }}" class="w3-bar-item w3-button">View Decks</a>
        <a href="{{ url_for('createDeck') }}" class="w3-bar-item w3-button">Create Deck</a>
        <!-- <div class="w3-dropdown-hover">
            <button class="w3-button">Dropdown ▾</button>
                <div class="w3-dropdown-content w3-bar-block w3-card-4">
                    <a href="#" class="w3-bar-item w3-button">Tab 1</a>
                    <a href="#" class="w3-bar-item w3-button">Tab 2</a>
                    <a href="#" class="w3-bar-item w3-button">Tab 3</a>
                </div>
        </div> -->
    </nav>
    {% block body %}
    {% endblock %}
</body>
</html>