<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/5/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Righteous">
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
    <title>Flashcard Maker Login</title>
</head>
<body>

    <!-- {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            <div class="flash-messages">
            {% for category, message in messages %}
                <div class="alert alert-{{ category }}">
                {{ message }}
                </div>
            {% endfor %}
            </div>
        {% endif %}
    {% endwith %} -->

    <div class="login-container w3-card-4">
        <h2>Welcome Back!</h2><br>

        <h1>-- Sign In --</h1>

        {% if error %}
            <p class="error">{{ error }}</p>
        {% endif %}
        
        <form action="{{ url_for('login') }}" method="POST" class="login">
            <input type="text" name="username" id="username" placeholder="Username/Email"><br><br>
            <input type="password" name="password" id="password" placeholder="Password"><br><br>
            <input type="checkbox" onclick="passwordReveal()" id="showPasswords" class="showPasswords" style="margin-right: 0.5rem;">
            <label for="showPasswords" class="showPasswords">Show Password</label><br><br>
            <input type="submit" value="Sign In"><br>
        </form>
        <p>New to Flashcard Maker?</p> <a href="{{ url_for('signup') }}">Sign up here!</a>
    </div>

    <script>
        function passwordReveal() {
            var password = document.getElementById("password");
            var confirm = document.getElementById("confirm_password");

            if (password.type === "password") {
                password.type = "text";
                confirm.type = "text";
            } else {
                password.type = "password";
                confirm.type = "password";
            }
        }
    </script>
</body>
</html>