{% extends "layout.html" %}

{% block title %}Profile{% endblock %}

{% block body %}

<!-- Error message -->
{% include "components/alerts.html" %}

<br>

<!-- Tabs -->
<div class="profileTabContainer">
    <button class="profileTabs" onclick="window.location='{{ url_for('profile') }}'">Profile</button>
    <button class="profileTabs" onclick="window.location='{{ url_for('settings') }}'">Settings</button>
    <button class="profileTabs" onclick="window.location='{{ url_for('stats') }}'">Stats</button>
</div>

<!-- User Info with pfp and textbox -->
<div class="userInfoContainerContainer">
    <div class="userInfoContainer">
        <div class="userInfo">
            <img src="{{ url_for('static', filename='assets/profile.png') }}" height="170px" width="170px" alt="profile picture">
            <h2>@{{ results[0] }}</h2>
        </div>
        <div class="pfpButtons">
            <button>Change</button>
            <button>Remove</button>
        </div>
    </div>
    <textarea name="textArea" id="textArea" class="textBox"></textarea>
</div>

<br><br>

<!-- User Info with username, email, password -->
<div class="userInformationContainer">
    <!-- username -->
    <div id="username" class="userInformation">
        <h3>Username: </h3>
        <h3>{{ results[0] }}</h3>
        <button onclick="
            document.getElementById('username').style.display = 'none';
            document.getElementById('changeUsername').style.display = 'grid';
        ">Change</button>
        <div></div>
    </div>

    <!-- hidden username form -->
    <form action="{{ url_for('profile') }}" method="POST" id="changeUsername" class="changeUsernameForm">
        <label><h3>Username: </h3></label>
        <input type="hidden" name="actionUsername" value="changeUsername">
        <input type="text" name="newUsername" value="{{ results[0] }}">
        <button type="submit">Save</button>
        <button type="button" onclick="
            document.getElementById('changeUsername').style.display = 'none';
            document.getElementById('username').style.display = 'grid';
        ">Cancel</button>
    </form>

    <!-- email -->
    <div id="viewEmail" class="userInformation">
        <h3>Recovery Email: </h3>
        <h3 id="email">{{ obfuscatedEmail }}</h3>
        <button onclick="
            document.getElementById('viewEmail').style.display = 'none';
            document.getElementById('changeEmail').style.display = 'grid';
        ">Change</button>
        <form action="{{ url_for('profile') }}" method="POST" id="removeEmail">
            <input type="hidden" name="action" value="remove">
            <button type="submit" style="width: 100%; height: 100%;">Remove</button>
        </form>
    </div>

    <!-- hidden email form -->
    <form action="{{ url_for('profile') }}" method="POST" id="changeEmail" class="changeEmailForm">
        <label><h3>Recovery Email: </h3></label>
        <input type="hidden" name="action" value="change">
        <input type="email" name="newEmail" value="{{ email }}">
        <button type="submit">Save</button>
        <button type="button" onclick="
            document.getElementById('changeEmail').style.display = 'none';
            document.getElementById('viewEmail').style.display = 'grid';
        ">Cancel</button>
    </form>
    
    <!-- password -->
    <div class="userInformation">
        <h3>Password: </h3>
        <button style="width: 100%; margin: 0 0;">Reveal</button>
        <button>Change</button>
        <div></div>
    </div>
</div>

<br>

<!-- logout -->
<div class="logoutContainer">
    <button onclick="location.href='{{ url_for('logout') }}'" class="logout">LOG OUT</button>
</div>

<br>
<br>

<!-- danger zone -->
<div class="dangerZoneContainer">
    <h1 class="dangerZoneText">DANGER ZONE</h1>
    <form class="dangerZoneButtons" action="{{ url_for('profile') }}" method="POST">
        <input name="DeleteAccount" id="DeleteAccount" type="hidden" value="False">
        <input name="ResetAccount" id="ResetAccount" type="hidden" value="False">
        <button type="button" class="dangerZoneButton button-ignore" onclick="showConfirm(this.form, 'DELETE')">DELETE ACCOUNT</button>
        <button type="button" class="dangerZoneButton button-ignore" onclick="showConfirm(this.form, 'RESET')">RESET ACCOUNT</button>
    </form>
</div>

<br>

<!-- confirmation overlay -->
<div id="overlay" onclick="off()"> <!-- Turn off overlay when clicking outside -->
  <div class="confirmation-box" onclick="event.stopPropagation()">
    <p style="color: var(--text-color);">Are you sure you want to delete your account?</p>
    <button onclick="confirmDelete()" class="button-ignore" style="background-color: var(--warning-color); color: white;">Yes</button> 
    <button onclick="off()" class="button-ignore" style="border: 2px solid var(--warning-color); color: var(--warning-color); background-color: white">No</button>
  </div>
</div>


<script>
document.getElementById("ResetAccount").value = 'False'
document.getElementById("DeleteAccount").value = 'False'

// ----- Delete Confirmation -----
// turn on confirmation overlay
function on() {
  document.getElementById("overlay").style.display = "block";
}

// turn off confirmation overlay
function off() {
  document.getElementById("overlay").style.display = "none";
}

// variable to store form info
let formToDelete = null; 

// when delete button is clicked
function showConfirm(form, name) {
    buttonName = name
    formToDelete = form; // Store the form to send if confirmed
    on(); // Show confirmation overlay
}

// if user confirms delete
function confirmDelete() {
    if (formToDelete) {
        if (buttonName == "DELETE") {
            document.getElementById("DeleteAccount").value = 'True'
            document.getElementById("ResetAccount").value = 'False'
        }
        if (buttonName == "RESET") {
            document.getElementById("ResetAccount").value = 'True'
            document.getElementById("DeleteAccount").value = 'False'
        }
        formToDelete.submit(); //submit the stored form
        formToDelete = null; // Clear the stored form
    }
    off(); // Hide confirmation overlay
}
</script>

{% endblock %}