{% extends "layout.html" %}

{% block title %}Profile{% endblock %}

{% block body %}

<!-- Error message -->
{% include "components/alerts.html" %}

<br>

<!-- Tabs -->
<div class="profileTabContainer">
    <button class="profileTabs" onclick="window.location='{{ url_for('profile') }}'">Profile</button>
    <button class="profileTabs" onclick="window.location='{{ url_for('settings') }}'">Settings</button>
    <button class="profileTabs" onclick="window.location='{{ url_for('stats') }}'">Stats</button>
</div>

<!-- User Info with pfp and textbox -->
<div class="userInfoContainerContainer">
    <div class="userInfoContainer">
        <div class="userInfo">
            <img src="{{ url_for('static', filename='assets/profile.png') }}" height="170px" width="170px" alt="profile picture">
            <h2>@{{ results[0] }}</h2>
        </div>
        <div class="pfpButtons">
            <button>Change</button>
            <button>Remove</button>
        </div>
    </div>
    <textarea name="textArea" id="textArea" class="textBox"></textarea>
</div>

<br><br>

<!-- User Info with username, email, password -->
<div class="userInformationContainer">
    <!-- username -->
    <div class="userInformation">
        <h3>Username: </h3>
        <h3>{{ results[0] }}</h3>
        <button>Change</button>
        <div></div>
    </div>

    <!-- email -->
    <div id="viewEmail" class="userInformation">
        <h3>Recovery Email: </h3>
        <h3 id="email">{{ obfuscatedEmail }}</h3>
        <button onclick="
            document.getElementById('viewEmail').style.display = 'none';
            document.getElementById('changeEmail').style.display = 'grid';
        ">Change</button>
        <form action="{{ url_for('profile') }}" method="POST" id="removeEmail">
            <input type="hidden" name="action" value="remove">
            <button type="submit" style="width: 100%; height: 100%;">Remove</button>
        </form>
    </div>

    <!-- hidden email form -->
    <form action="{{ url_for('profile') }}" method="POST" id="changeEmail" class="changeEmailForm">
        <label><h3>Recovery Email: </h3></label>
        <input type="hidden" name="action" value="change">
        <input type="email" name="newEmail" value="{{ email }}">
        <button type="submit">Save</button>
        <button type="button" onclick="
            document.getElementById('changeEmail').style.display = 'none';
            document.getElementById('viewEmail').style.display = 'grid';
        ">Cancel</button>
    </form>
    
    <!-- password -->
    <div class="userInformation">
        <h3>Password: </h3>
        <button style="width: 100%; margin: 0 0;">Reveal</button>
        <button>Change</button>
        <div></div>
    </div>
</div>

<br>

<!-- logout -->
<div class="logoutContainer">
    <button onclick="location.href='{{ url_for('logout') }}'" class="logout">LOG OUT</button>
</div>

<br>
<br>

<!-- danger zone -->
<div class="dangerZoneContainer">
    <h1 class="dangerZoneText">DANGER ZONE</h1>
    <div class="dangerZoneButtons">
        <button class="dangerZoneButton">DELETE ACCOUNT</button>
        <button class="dangerZoneButton">RESET ACCOUNT</button>
    </div>
</div>

<br>


{% endblock %}