{% extends "layout.html" %}

{% block title %}Settings{% endblock %}

{% block body %}

<!-- Error message -->
{% include "components/alerts.html" %}

<br>

<div class="profileTabContainer">
    <button class="profileTabs" onclick="window.location='{{ url_for('profile') }}'">Profile</button>
    <button class="profileTabs" onclick="window.location='{{ url_for('settings') }}'">Settings</button>
    <button class="profileTabs" onclick="window.location='{{ url_for('stats') }}'">Stats</button>
</div>

<br>

<button style="width: 100%;" onclick="window.location='{{ url_for('theme') }}'">Theme</button>

<br>
<br>

<form action="{{ url_for('settings') }}" class="animimationToggle" method="POST">
    <label for="animToggle">Animations</label>
    <input type="checkbox" name="animToggle" id="animToggle"{% if animation == 1 %} checked{% endif %}>
    
    <br>
    <br>
    
    <button type="submit">Save Changes</button>
</form>

{% endblock %}