<!DOCTYPE html>
<html lang="en" class="login-body">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="{{ url_for('static', filename='assets/icon.png') }}">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/5/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Righteous">
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
    <script src="{{ url_for('static', filename='script.js') }}"></script>
    <title>Sign Up | Flashcard Maker</title>
</head>
<body class="login-body">
    <div class="login-container w3-card-4">
        <h2>Welcome To Flashcard Maker!</h2><br>
        <h1>-- Sign up --</h1>

        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages%}
                {% for category, message in messages%}
                    <p class="simpleAlert {{ category }}">{{message}}</p>
                {%endfor%}
            {%endif%}
        {%endwith%}

        <form action="{{ url_for('signup') }}" method="POST" class="login">
            <input type="text" name="username" id="username" placeholder="Username"><br>
            <input type="password" name="password" id="password" placeholder="Password"><br>
            <input type="password" name="confirm_password" id="confirm_password" placeholder="Confirm Password"><br><br>
            <input type="checkbox" onclick="passwordReveal()" id="showPasswords" class="showPasswords" style="margin-right: 0.5rem;">
            <label for="showPasswords" class="showPasswords">Show Passwords</label><br><br>
            <input type="submit" value="Sign up">
        </form>
        <p>Already have an account?</p> <a href="{{ url_for('login') }}" style="color: rgb(14, 103, 161);">Sign in here!</a>
    </div>
    

    <script>
        function passwordReveal() {
            var password = document.getElementById("password");
            var confirm = document.getElementById("confirm_password");

            if (password.type === "password") {
                password.type = "text";
                confirm.type = "text";
            } else {
                password.type = "password";
                confirm.type = "password";
            }
        }
    </script>

</body>
</html>