{% extends "layout.html" %}

{% block title %}Stats{% endblock %}

{% block body %}

<br>

<!-- tabs -->
<div class="profileTabContainer">
    <button class="profileTabs" onclick="window.location='{{ url_for('profile') }}'">Profile</button>
    <button class="profileTabs" onclick="window.location='{{ url_for('settings') }}'">Settings</button>
    <button class="profileTabs" onclick="window.location='{{ url_for('stats') }}'">Stats</button>
</div>

<!-- top box -->
<div class="statsMain">
    <!-- account info -->
    <div class="statsUserInfo">

        <div style="display: flex; gap: 30px;">
            <img src="{{ url_for('static', filename='assets/profile.png') }}" alt="profile pic" height="120px">
            <div class="userNameStats">
                <h1>USERNAME</h1>
                <p>Joined {{ joinDate }}</p>
            </div>
        </div>
        
        <!-- progress bar -->
        <div class="w3-round-xlarge resume-progress-outer" style="height: 20px; width: 100%;">
            {% if correctPercent != 0 %}
                <div class="w3-container w3-blue w3-round-xlarge resume-progress-inner" style="width: {{ correctPercent }}%;">Correct %</div>
            {% else %}
                <div class="w3-round-xlarge w3-blue resume-progress-none">Correct %</div>
            {% endif %}
        </div>

    </div>

    <div>
        <h2>Current Streak</h2>
        <h3>{{ user_stats[2] }} Days</h3>
    </div>

    <div>
        <h2>Longest Streak</h2>
        <h3>{{ user_stats[3] }} Days</h3>
    </div>

</div>

<!-- response stats -->
<div class="responseStatsContainer">
    <!-- total responses -->
    <div class="responseStats">
        
        <div>
            <h3>Total Correct</h3>
            {% if answer_stats[0] %}
            <h4>{{ answer_stats[0] }}</h4>
            {% else %}
            <h4>0</h4>
            {% endif %}
        </div>
        
        <div>
            <h3>Total Incorrect</h3>
            
            {% if answer_stats[1] %}
            <h4>{{ answer_stats[1] }}</h4>
            {% else %}
            <h4>0</h4>
            {% endif %}
        </div>
        
        <div>
            <h3>Total Skipped</h3>
            <h4>{{ skipped }}</h4>
        </div>
        
    </div>
    
    <!-- study stats -->
    <div class="responseStats">

        <div>
            <h3>Total Study Duration</h3>
            <h4>{{ totalDuration }}</h4>
        </div>

        <div>
            <h3>Total Times Studied</h3>
            <h4>{{ totalSessions }}</h4>
        </div>

        <div>
            <h3>Total Cards Studied</h3>
            <h4>{{ totalStudied }}</h4>
        </div>

    </div>
</div>

<!-- stats grid -->
<br><br><h1 style="text-align: center;">More Statistics:</h1>

<div class="statsGridContainer">
    <div class="statsGrid">
        <h6 class="statsTitle">number of decks</h6>
        <h1 class="statsNumber">{{ deck_stats[0] }}</h1>
    </div>

    <div class="statsGrid">
        <h6 class="statsTitle">number of flashcards</h6>
        <h1 class="statsNumber">{{ card_stats[0] }}</h1>
    </div>

    <div class="statsGrid">
        <h6 class="statsTitle">percent correct</h6>
        <h1 class="statsNumber">{{ correctPercent }}%</h1>
    </div>

    <div class="statsGrid">
        <h6 class="statsTitle">number of private decks</h6>
        <h1 class="statsNumber">{{ private_stats }}</h1>
    </div>
    
    <div class="statsGrid">
        <h6 class="statsTitle">number of unlisted decks</h6>
        <h1 class="statsNumber">{{ unlisted_stats }}</h1>
    </div>
    
    <div class="statsGrid">
        <h6 class="statsTitle">number of public decks</h6>
        <h1 class="statsNumber">{{ public_stats }}</h1>
    </div>

</div>

<br>
<br>

<!-- study history -->
<div class="studyHistoryTitle">
    <h1>Study History</h1>
</div>

<table class="historyTable" style="width: stretch;">
    <tr>
        <th style="width: 40%;">deck name</th>
        <th>correct</th>
        <th>incorrect</th>
        <th>skipped</th>
        <th>total cards</th>
        <th>study duration</th>
        <th>ownership</th>
        <th>date</th>
    </tr>
    {% if study_history %}
    {% for history in study_history %}
    <tr>
        <td>{{ history[5] }}</td>
        <td>{{ history[2] }}</td>
        <td>{{ history[3] }}</td>
        <td>{{ history[1] - history[2] - history[3] }}</td>
        <td>{{ history[1] }}</td>
        <td>{{ history[4] }}s</td>
        <td>
            {% if history[6] == userID %}
                Owned by me
            {% else %}
                Not owned by me
            {% endif %}
        </td>
        <td>{{ history[0] }}</td>
    </tr>
    {% endfor %}
    {% else %}
    <p>you have no study history yet. Decks that you have finished studying will show up here!.</p>
    {% endif %}

</table>

<br>

{% endblock %}