<style>
body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: white;
}

.flip-card {
  background-color: transparent;
  width: 300px;
  height: 300px;
  perspective: 1000px;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip-card-front {
  background-color: #bbb;
  color: black;
}

.flip-card-back {
  background-color: #2980b9;
  color: white;
  transform: rotateY(180deg);
}

sub, sup {
  font-size: 0.7em;
}

</style>
<script src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
</head>
<body>

<h1>Card Flip with Text</h1>
<h3>Hover over the image below:</h3>

<div class="flip-card">
  <div class="flip-card-inner">
    <div class="flip-card-front">
      <h1>Question</h1>
    </div>
    <div class="flip-card-back">
      <h1>Answer</h1>
    </div>
  </div>
</div>




<!-- <h1>H<sub>2</sub>SO<sub>4</sub><sup>2-</sup></h1>
<h1>Pb<sup>2+</sup><sub>(aq)</sub> + 4NH<sub>3</sub><sub>(aq)</sub> → [Pb(NH<sub>3</sub>)<sub>4</sub>]<sup>2+</sup><sub>(aq)</sub></h1> -->
<h1>Pb^{2+}_{(aq)} + 4NH_{3(aq)} → [Pb(NH_{3})_{4}]^{2+}_{(aq)}</h1>
<h1>H_{2}SO_{4}^{2-}</h1>
<h1>15ms^{-1}</h1>
<h1>^{3}√8 = 2</h1>
<h1>÷≠=≡±×>≤<≥∞⅓¼⅑½⅛⅕⅗⅙⅜⅐⅒⅘⅚¾⅞⅝↉⅖⅟√∛∜∪∩∈∉∝∙𝑎𝑏𝑐𝑑𝑒𝑓𝑔ℎ𝑖𝑗𝑘𝑙𝑚𝑛𝑜𝑝𝑞𝑟𝑠𝑡𝑢𝑣𝑤𝑥𝑦𝑧θπϕ∑∫∬∭∆∇∂≈</h1>
<h1>αβγδσπϕ∑μλ°∝ΔΩ→⇌σθ↑↓</h1><br>



<h1>MathJax explanation</h1>

<p>  You can type using mathJax formatting! Surround your mathematic text in \​( MATH HERE \​) to format your mathematic text!</p>
<p>  COMMON SYMBOLS (add this anywhere inside the \​(...\​) !):</p>
<p>  \pm - plus minus symbol</p>
<p>  \times - multiplication symbol</p>
<p>  \div - division symbol</p>
<p>  x^{a} - superscript/powering (replace x and a)</p>
<p>  x_{a} - subscript (replace x and a)</p>
<p>  \sqrt{x} - square root (replace x)</p>
<p>  \sqrt[n]{x} - nth root (replace n and x)</p>

<p>  \le - less or equal to</p>
<p>  \ge - greater or equal to</p>
<p>  \neq - not equal to</p>
<p>  \Rightarrow or \rightarrow- right arrow for chemistry</p>

<h2>  MORE ADVANCED:</h2>
<p>  {ABC \over DEF} or \frac{ABC}{DEF} - fraction of ABC/DEF</p>
<p>  \sum\limits _{i=1} ^{n} i^2 - sigma sum notation</p>
<p>  \limits puts the sub and super scripts directly above/below the operator</p>

<h2>  GREEK LETTERS:</h2>
<p>  \NAMEHERE - displays greek letter (lowercase first letter for lowercase)</p>
<p>  only displays special uppercases (eg, delta but not alpha)</p>

<h2>  Spacing: </h2>
<p>  \ - adds small spacing(leave empty space after or ,)</p>
<p>  \! - connects two characters together</p>
<p>  then, from the following order of increasing spacing:</p>
<p>  \,    \:    \;    \     \quad    \qquad </p>
<p>  For more help, please visit https://artofproblemsolving.com/wiki/index.php/LaTeX:Symbols</p>

<h2>  EXAMPLES:</h2>
<p>  \( x = { -b \pm \sqrt{ b^{ 2 }-4ac } \over 2a }\) or \( x = \frac{ -b \pm \sqrt{ b^2-4ac } } { 2a } \)</p>
<p>  \​( x = { -b \pm \sqrt{ b^{ 2 }-4ac } \over 2a }\) or \​( x = \frac{ -b \pm \sqrt{ b^2-4ac } } { 2a } \)</p>
<p>  \( Ag^{ + } \! _{ (aq) } + NH_{ 3 \, (aq) } \Rightarrow [Ag(NH_{ 3 })_{ 2 }]^{ + } \! _{ (aq) } \)</p>
<p>  \​( Ag^{ + } \! _{ (aq) } + NH_{ 3 \, (aq) } \Rightarrow [Ag(NH_{ 3 })_{ 2 }]^{ + } \! _{ (aq) } \)</p>

<p>  \(x^{ 1 \over 5 } = \sqrt[5]{x}\)</p>
<p>  \​(x^{ 1 \over 5 } = \sqrt[5]{x}\)</p>

<p>  \( (\frac{1}{2})^2 = \frac{1}{2} \times \frac{1}{2} = \frac{1}{4} = \frac{1}{2^2} = 2^{-2} \)</p>
<p>  \​( (\frac{1}{2})^2 = \frac{1}{2} \times \frac{1}{2} = \frac{1}{4} = \frac{1}{2^2} = 2^{-2} \)</p>

<p>  \(   \frac{\frac{1}{2}}{\frac{1}{4}} = \frac{1}{2} \div \frac{1}{4} = \frac{1}{2} \times \frac{4}{1} = \frac{4}{2} = 2 \)</p>
<p>  \​(   \frac{\frac{1}{2}}{\frac{1}{4}} = \frac{1}{2} \div \frac{1}{4} = \frac{1}{2} \times \frac{4}{1} = \frac{4}{2} = 2 \)</p>



<form action="{{ url_for('test') }}" method="POST" enctype='multipart/form-data'>
  <!-- <label for="file_name">File Name</label>
  <input type="text" name="file_name"> -->
  <input type="file" name="file" accept=".png, .jpg, .jpeg, .gif, .webp, .avif, .apng, .svg" required>
  <input type="submit" value="Add">
</form>

<!-- <h1>15ms<sup>-2</sup></h1> -->
<!-- <h1>a<sub>1234567890-=qwertyuiop[]\asdfghjkl;'zxcvbnm,./</sub>a</h1>
<h1>a<sup>1234567890-=qwertyuiop[]\asdfghjkl;'zxcvbnm,./</sup>a</h1> -->

<h1></h1>

<script>

  function renderScientific(text) {
  return text
    // superscript first
    .replace(/\^\{([^}]+)\}/g, '<sup>$1</sup>')
    // subscript
    .replace(/_\{([^}]+)\}/g, '<sub>$1</sub>');
  }

  document.querySelectorAll("h1").forEach(el => {
    el.innerHTML = renderScientific(el.innerText);
  });
</script>