<div id="popup-overlay" onclick="closePopup()"></div>

<div id="popup">
    <!-- Tab buttons -->
    <div class="tab-buttons">
        <button id="generalkeys">General Keybinds</button>
        <button id="studykeys">Study Keybinds</button>
        <button id="mathjax">MathJax</button>
    </div>
    
    <!-- General Keybinds -->
    <div class="tab-content" id="generalkeys2">
        <h1>General Keybinds</h1>
        <p><code>ctrl + /</code> - Open/close this help popup</p>
        <p><code>s</code> - start studying a deck (only available in the deck page)</p>

        <p>*Make sure to have the page selected for the keybinds to work!</p>
    </div>

    <!-- Study Keybinds -->
    <div class="tab-content" id="studykeys2">
        <h1>Study Keybinds</h1>
        <p><code>Space</code> - Flip the card to reveal the answer</p>

        <p><code>Right Arrow</code> - Next Page or Exit</p>
        <p><code>Left Arrow</code> - Previous Page</p>

        <p>While studying, you can use the following keybinds to select your answer:</p>
        <ul>
            <li><code>1</code> - Mark as Correct</li>
            <li><code>2</code> - Mark as Incorrect</li>
            <li><code>3</code> - Mark as Skip</li>
        </ul>



        <p>*Make sure to have the page selected for the keybinds to work!</p>
    </div>

    <!-- MathJax Explanation -->
    <div class="tab-content" id="mathjax2">
        <h1>MathJax explanation</h1>

        <p>You can type scientific and mathematical expressions using MathJax formatting! Surround your expressions in <code>\( TEXT HERE \)</code>, <code>\[ TEXT HERE \]</code>, or <code>$$ TEXT HERE $$</code> to format them!</p>
        <p>COMMON SYMBOLS (add this anywhere inside the <code>\(...\)</code>):</p>

        <table>
            <tr>
                <th style="text-align: center; width: 15%;">Output</th>
                <th style="text-align: center; width: 30%;">Code</th>
                <th>Description</th>
            </tr>
            <tr>
                <td style="text-align: center;">\( \pm \)</td>
                <td style="text-align: center;"><code>\pm</code></td>
                <td>plus minus symbol</td>
            </tr>
            <tr>
                <td style="text-align: center;">\( \times \)</td>
                <td style="text-align: center;"><code>\times</code></td>
                <td>multiplication symbol</td>
            </tr>
            <tr>
                <td style="text-align: center;">\( \div \)</td>
                <td style="text-align: center;"><code>\div</code></td>
                <td>division symbol</td>
            </tr>
            <tr>
                <td style="text-align: center;">\( x^{a} \)</td>
                <td style="text-align: center;"><code>x^{a}</code></td>
                <td>superscript/powering (replace x and a)</td>
            </tr>
            <tr>
                <td style="text-align: center;">\( x_{a} \)</td>
                <td style="text-align: center;"><code>x_{a}</code></td>
                <td>subscript (replace x and a)</td>
            </tr>
            <tr>
                <td style="text-align: center;">\( \sqrt{x} \)</td>
                <td style="text-align: center;"><code>\sqrt{x}</code></td>
                <td>square root (replace x)</td>
            </tr>
            <tr>
                <td style="text-align: center;">\( \sqrt[n]{x} \)</td>
                <td style="text-align: center;"><code>\sqrt[n]{x}</code></td>
                <td>nth root (replace n and x)</td>
            </tr>
            <tr>
                <td style="text-align: center;">\( \le \)</td>
                <td style="text-align: center;"><code>\le</code></td>
                <td>less or equal to</td>
            </tr>
            <tr>
                <td style="text-align: center;">\( \ge \)</td>
                <td style="text-align: center;"><code>\ge</code></td>
                <td>greater or equal to</td>
            </tr>
            <tr>
                <td style="text-align: center;">\( \neq \)</td>
                <td style="text-align: center;"><code>\neq</code></td>
                <td>not equal to</td>
            </tr>
            <tr>
                <td style="text-align: center;">\( \Rightarrow \)<br>or<br>\( \rightarrow \)</td>
                <td style="text-align: center;"><code>\Rightarrow</code><br>or<br><code>\rightarrow</code></td>
                <td>right arrow for chemistry</td>
            </tr>
            <tr>
                <td style="text-align: center;">\( \text{Normal Text} \)</td>
                <td style="text-align: center;"><code>\text{Normal Text}</code></td>
                <td>Normal text within math mode</td>
            </tr>
            <tr>
                <td style="text-align: center;">\( \cancel{2} \)</td>
                <td style="text-align: center;"><code>\cancel{2}</code></td>
                <td>Canceling terms</td>
            </tr>
            <tr>
                <td style="text-align: center;">\( \boxed{x=5} \)</td>
                <td style="text-align: center;"><code>\boxed{ x=5 }</code></td>
                <td>boxed expression</td>
            </tr>
            <tr>
                <td style="text-align: center;">\( \frac{A+B}{C-D} \)</td>
                <td style="text-align: center;"><code>{A+B \over C-D}</code><br>or<br><code>\frac{A+B}{C-D}</code></td>
                <td>fraction of A+B/C-D</td>
            </tr>
            <tr>
                <td style="text-align: center;">\( \sum\limits _{i=1} ^{n} i^2 \)</td>
                <td style="text-align: center;"><code>\sum\limits _{i=1} ^{n} i^2</code></td>
                <td>sigma sum notation</td>
            </tr>
            <tr>
                <td style="text-align: center;">N/A</td>
                <td style="text-align: center;"><code>\limits</code></td>
                <td>puts the sub and super scripts directly above/below the operator(eg, \sum\limits_{i=1}^n)</td>
            </tr>
            <tr>
                <td style="text-align: center;">\( \Delta \) and \( \delta \)</td>
                <td style="text-align: center;"><code>\Delta</code> <code>\delta</code></td>
                <td>Greek letters (lowercase first letter for lowercase, ONLY SUPPORTS SPECIAL UPPERCASE LETTERS)</td>
            </tr>
            <tr>
                <td style="text-align: center;">N/A</td>
                <td style="text-align: center;"><code>\!</code></td>
                <td>connects two characters together. eg,\( abc \) becomes \( a \! b \! c \)</td>
            </tr>
            <tr>
                <td style="text-align: center;">N/A</td>
                <td style="text-align: center;"><code>\,  \:  \;   \quad  \qquad</code></td>
                <td>adds small spacing(increasing order). eg, \( 1 \, 2 \: 3 \; 4 \quad 5 \qquad 6 \) </td>
            </tr>
        </table>

        <br><h1>Examples:</h1>
        <table>
            <tr>
                <th style="text-align: center;">Output</th>
                <th style="text-align: center; width: 40%;">Code</th>
                <th>Description</th>
            </tr>
            <tr>
                <td style="text-align: center;">\( x = \frac{ -b \pm \style{background-color: rgba(114, 147, 246, 0.66);}{\sqrt{ b^2-4ac } }} { \style{background-color: rgba(245, 113, 113, 0.66);}{2a} } \)</td>
                <td style="text-align: center;">
                    <code>\( x = { -b \pm <span style="background-color: rgba(114, 147, 246, 0.66);">\sqrt{ b^{ 2 } -4ac }</span> \over <span style="background-color: rgba(245, 113, 113, 0.66);">2a</span> }\)</code>
                    <br>or<br>
                    <code>\( x = \frac{ -b \pm <span style="background-color: rgba(114, 147, 246, 0.66);">\sqrt{ b^2-4ac }</span> } <span style="background-color: rgba(245, 113, 113, 0.66)">{ 2a }</span>\)</code>
                </td>
                <td>Quadratic formula</td>
            </tr>
            <tr>
                <td style="text-align: center;">
                    \(

                    Ag\style{background-color: rgba(114,147,246,0.66);}{^{+}}
                    \!{}\style{background-color: rgba(245,113,113,0.66);}{_{(aq)}}

                    +
                    
                    NH\style{background-color: rgba(245,113,113,0.66);}{_{3\,(aq)}}

                    \Rightarrow

                    [Ag(NH\style{background-color: rgba(245,113,113,0.66);}{_{3}})
                    \style{background-color: rgba(245,113,113,0.66);}{_{2}}]
                    \style{background-color: rgba(114,147,246,0.66);}{^{+}}
                    \!{}\style{background-color: rgba(245,113,113,0.66);}{_{(aq)}}

                    \)
                </td>
                <td style="text-align: center;">
                    <code>
                        \( Ag<span style="background-color: rgba(114, 147, 246, 0.66);">^{ + }</span>
                        \! {}<span style="background-color: rgba(245, 113, 113, 0.66);">_{ (aq) }</span>

                        + NH<span style="background-color: rgba(245, 113, 113, 0.66);">_{ 3 \, (aq) }</span>

                        \Rightarrow

                        [Ag(NH<span style="background-color: rgba(245, 113, 113, 0.66);">_{ 3 }</span>)
                        <span style="background-color: rgba(245, 113, 113, 0.66);">_{ 2 }</span>]
                        <span style="background-color: rgba(114, 147, 246, 0.66);">^{ + }</span>
                        \! {}<span style="background-color: rgba(245, 113, 113, 0.66);">_{ (aq) }</span>
                        \)
                    </code>
                </td>
                <td>Chemical equation with subscripts and superscripts (note that you cannot have two ^ or _ after each other, so put an empty {} inbetween)</td>
            </tr>
            <tr>
                <td style="text-align: center;">\(x^{ 1 \over 5 } = \sqrt[ \style{
                    background-color: rgba(114, 147, 246, 0.66);
                }{5} ]{ \style{
                    background-color: rgba(245, 113, 113, 0.66);
                }{x} }\)</td>
                <td style="text-align: center;">
                    <code>
                        \( x^{ 1 \over 5 } = \sqrt<span style="background-color: rgba(114, 147, 246, 0.66);">[ 5 ]</span><span style="background-color: rgba(245, 113, 113, 0.66);">{ x }</span>
                        \)
                    </code>
                </td>
                <td>Superscript with fraction and nth root</td>
            </tr>
            <tr>
                <td style="text-align: center;">\( \text{ (Normal Text) } \)</td>
                <td style="text-align: center;"><code>\( \text{ (Normal Text) } \)</code></td>
                <td>Normal text within math mode</td>
            </tr>
            <tr>
                <td style="text-align: center;">\( \frac{ \cancel{ (x+5) } (x-5) }{ \cancel{ x+5 }} = \boxed{ x-5 } \)</td>
                <td style="text-align: center;"><code>\( \frac{ \cancel{ (x+5) } (x-5) }{ \cancel{ x+5 }} = \boxed{ x-5 } \)</code></td>
                <td>Canceling terms in a fraction & boxed expression</td>
            </tr>
            <tr>
                <td style="text-align: center;">\( \sum\limits _{i=1} ^{3} i^2 = 1^2+2^2+3^2 = 13 \)</td>
                <td style="text-align: center;"><code>\( \sum\limits _{i=1} ^{3} i^2 = 1^2 + 2^2 + 3^2 = 13 \)</code></td>
                <td>Sigma sum notation</td>
        </table>

        <br><h1>Advanced:</h1>
        <table>
            <tr>
                <tr>
                    <th style="text-align: center; width: 25%;">Output</th>
                    <th style="width: 50%;">Code</th>
                    <th>Description</th>
                </tr>
                <td style="text-align: center;">\( reactant \xrightarrow{\text{decompose}} product \)</td>
                <td><code>\( reactant \xrightarrow{\text{decompose}} product \)</code></td>
                <td>arrow with annotation</td>
            </tr>
            <tr>
                <td style="text-align: center;">\( \overbrace{a + b + c}^{\text{sum}} \)</td>
                <td><code>\( \overbrace{a + b + c}^{\text{sum}} \)</code></td>
                <td>Overbrace with annotation</td>
            </tr>
            <tr>
                <td style="text-align: center;">\( \underbrace{x + x + x}_{3x} \)</td>
                <td><code>\( \underbrace{x + x + x}_{3x} \)</code></td>
                <td>Underbrace with annotation</td>
            </tr>
            <tr>
                <td style="text-align: center;">\( {\Huge big} \quad {\small small} \)</td>
                <td><code>\( {\Huge big} \quad {\small small} \)</code></td>
                <td>Different font sizes</td>
            </tr>
            <tr>
                <td style="text-align: center;">\( f(x) = \begin{cases} x^2 & x > 0 \\ 0 & x = 0 \\ -x & x < 0 \end{cases} \)</td>
                <td><code>\( f(x) = \begin{cases}<br>x^2 & x > 0 \\<br>0 & x = 0 \\<br>-x & x < 0<br>\end{cases} \)</code></td>
                <td>Piecewise function</td>
            <tr>
                <td style="text-align: center;">\( \begin{pmatrix} a & b \\ c & d \end{pmatrix} \times \begin{pmatrix} e & f \\ g & h \end{pmatrix} = \begin{pmatrix} ae + bg & af + bg \\ ce + dg & cf + dh \end{pmatrix} \)</td>
                <td><code>\( \begin{pmatrix}<br>a & b \\ c & d<br>\end{pmatrix}<br><br>\times<br><br>\begin{pmatrix}<br>e & f \\ g & h<br>\end{pmatrix}<br><br>=<br><br>\begin{pmatrix}<br>ae + bg & af + bg \\ ce + dg & cf + dh<br>\end{pmatrix} \)</code></td>
                <td>Matrix multiplication</td>
            </tr>
            <tr>
                <td style="text-align: center;">\( \color{blue}{x} + \color{green}{y} = \color{red}{z} \)</td>
                <td><code>\( \color{blue}{x} + \color{green}{y} = \color{red}{z} \)</code></td>
                <td>Colored variables</td>
            </tr>
            <tr>
                <td style="text-align: center;">\( \style{ transform: rotate(10deg); color: red; }{ \text{ apply custom css } } \)</td>
                <td><code>\( \style{transform: rotate(10deg); color: red;}{\text{apply custom css}} \)</code></td>
                <td>apply custom CSS styles</td>
            </tr>
        </table>

        <p>  For more help, please refer to these websites:
            <a href="https://artofproblemsolving.com/wiki/index.php/LaTeX:Symbols" target="_blank" style="color: #2980B9;">Simple LaTeX Symbols Guide</a>
            | 
            <a href="https://docs.mathjax.org/en/v4.0/input/tex/macros/index.html" target="_blank" style="color: #2980B9;">Comprehensive MathJax command List</a>
        </p>
    </div>
</div>

<script>
const tabButtons = document.querySelectorAll('.tab-buttons button');
const tabContents = document.querySelectorAll('.tab-content');

// changing tabs
tabButtons.forEach(button => {
  button.addEventListener('click', () => {
    // Remove active class from all buttons
    tabButtons.forEach(tb => tb.classList.remove('active'));
    // Remove active class from all contents
    tabContents.forEach(tc => tc.classList.remove('active'));

    // get tab content from button id and add '2' to get content instead of button
    const tabId = document.getElementById(button.id + '2');
    // add active class to clicked button
    button.classList.add('active');
    // add active class to corresponding content
    tabId.classList.add('active');
  });
});

// define popup and overlay
const popup = document.getElementById('popup');
const popup_overlay = document.getElementById('popup-overlay');

// when openPopupTab fuction is called open w/ the tab corresponding to the id
function openPopupTab(tabButtonId) {
    // check if popup is already open
    const isOpen = popup.classList.contains('open');
    popup.classList.toggle('open'); // add open class
    popup_overlay.classList.toggle('open'); // add open class
    
    if (!isOpen) {
        // Remove active class from all buttons
        tabButtons.forEach(tb => tb.classList.remove('active'));
        // Remove active class from all contents
        tabContents.forEach(tc => tc.classList.remove('active'));

        const Tbutton = document.getElementById(tabButtonId);
        Tbutton.classList.add('active'); // add active class to clicked button
        const Tcontent = document.getElementById(tabButtonId + '2');
        Tcontent.classList.add('active'); // add active class to corresponding content
    }
}

// close popup
function closePopup() {
    popup.classList.remove('open'); // remove open class
    popup_overlay.classList.remove('open'); // remove open class
}

// global keybind to open popup with general keybinds tab
document.addEventListener('keydown', (event) => {
    if (event.ctrlKey && event.key === '/') {
        openPopupTab('generalkeys');
    }
    // if escape is pressed, close popup
    if (event.key === 'Escape') {
        popup.classList.remove('open');
        popup_overlay.classList.remove('open');
    }
});


</script>